[2020-06-01 08:03] Juleship opened #1 "cmd+k overrides Slack"
**Describe the bug**
When I press cmd+K I expect to jump to a user or a channel in Slack. Instead MeetingBar opens a Chrome tab. This makes the extension unusable for me. I'd love to have the choice to deactivate it or override the shortcut.

**To Reproduce**
Steps to reproduce the behavior:
1. cmd+K inside Slack
2. I expect to get the fast menu to choose a conversation/person's name
3. I open a C

[2020-06-01 13:20] leits commented on #1
Added temporary option to disable global shortcuts in the fresh release:
https://github.com/leits/MeetingBar/releases/tag/v1.0b10

Next steps:
* Make join next meeting shortcut customizable
https://github.com/leits/MeetingBar/projects/1#card-39268281
* Make create event shortcut customizable
https://github.com/leits/MeetingBar/projects/1#card-39268261

Thanks, @Juleship!

[2020-06-01 14:37] durdevic opened #2 "Don't show full day events as notification, only in dropdown is sufficient"
**Describe the solution you'd like**
Show the upcoming event that is at a certain time, not the full-day events. You can put a setting in preferences as "don't show full-day events from notification"

Feel free to contact me if I need to explain it better 👌

[2020-06-01 15:00] leits commented on #2
@durdevic , good point 👍
Check the latest release: https://github.com/leits/MeetingBar/releases/tag/v1.0b13

[2020-06-01 15:33] durdevic commented on #2
Woah, that was fast! Nice 👌

This was you probably xD
https://gph.is/2Qv5ZMJ

[2020-06-01 15:35] jetienne opened #3 "Cannot install build 13"
“MeetingBar.app” can’t be opened because Apple cannot check it for malicious software.

This software needs to be updated. Contact the developer for more information.

[2020-06-01 16:19] leits commented on #3
Follow this official guide from Apple:
https://support.apple.com/en-us/HT202491
Now the application is still in beta, so it isn't yet in the AppStore.

[2020-06-02 06:23] durdevic opened #4 "Multiple calendars"
I guess you've been thinking about this one, it would definitely be quite neat to have 👌

[2020-06-02 09:32] leits commented on #2
Thanks! Is it work as expected?)

[2020-06-02 11:22] durdevic commented on #2
Yep, it works pretty solid. 👌  You can close the ticket.

Random thing though, the app somehow disappeared from the notification bar once my computer went to sleep. I needed to start it again from the app menu.

I'll report it if it happens again

[2020-06-02 11:22] #2 closed

[2020-06-02 11:40] billinghamj commented on #1
Would it be possible to disable just one of the shortcuts? Cmd+J is pretty much always fine, not super common, and very handy to have as an option. Cmd+K is very common though

[2020-06-02 12:02] leits commented on #2
Hmm.
LaunchAtLogin feature currently in backlog, but I didn't think that the system stops the app when went to sleep.

[2020-06-02 12:48] durdevic commented on #2
Okay, I've figured it out. I'll put in the new ticket

[2020-06-02 13:00] durdevic opened #5 "Notification is not shown if the title is too long and clashes with the app menu"
**Describe the bug**
A clear and concise description of what the bug is.
So if the Calendar title is too long, the notification disappears. The solution would be,

**To Reproduce**
Steps to reproduce the behavior:
1. Create an event with a very long title in the calendar
2. Open some app with a lot of menus in the top bar (e.g. Chrome)

Note: Using 13' MacBook Pro, This doesn't occur on larger scr

[2020-06-02 15:08] durdevic opened #6 "Sometimes the time get's stuck"
**Describe the bug**
The time just get's stuck and now counting correctly

**To Reproduce**
Don't know how to reproduce, just happens

_**Should be 13 min left**_
<img width="796" alt="Screenshot 2020-06-02 at 16 47 10" src="https://user-images.githubusercontent.com/2753836/83536380-6cf19000-a4f3-11ea-8303-b6ebfeeea115.png">

**Desktop (please complete the following information):**
 - macOS versio

[2020-06-02 15:15] paulshryock opened #7 "O365 (Outlook and Teams) calendar integration"
**Is your feature request related to a problem? Please describe.**
I don't use MacOS calendar, but I use O365 calendar in Outlook and Teams.

**Describe the solution you'd like**
I would find this app useful if it integrated with the O365 calendar in Outlook and Teams. I'd love to be able to view upcoming meetings and easily create new meetings.

[2020-06-02 18:21] ZoeLeah commented on #7
+1

[2020-06-03 11:19] leits commented on #1
@billinghamj Added this to the latest release: https://github.com/leits/MeetingBar/releases/tag/v1.0b14
Check it, pls.)

[2020-06-03 11:26] leits commented on #7
@paulshryock , @ZoeLeah , this app is based on macOS calendar API.

But it's not a problem at all!

You can connect your O365 calendar to mac in 10 simple steps from [this](https://support.cc.gatech.edu/support-tools/howto/add-office-365-account-mac-calendar) or any other guide.

[2020-06-03 13:22] leits commented on #7
upd: official apple guide:
 https://support.apple.com/guide/calendar/add-or-delete-calendar-accounts-icl4308d6701/mac

[2020-06-03 14:06] #3 closed

[2020-06-03 14:06] #1 closed

[2020-06-04 09:28] #7 closed

[2020-06-04 13:28] leits opened #8 "Make create new meeting shortcut customizable"

[2020-06-04 13:29] leits opened #9 "Make join next meeting shortcut customizable"

[2020-06-04 13:29] leits opened #10 "Option to hide meeting title in the menu bar"

[2020-06-04 13:30] leits opened #11 "Open zoom links in native macos app"

[2020-06-04 13:30] leits opened #12 "Amazon Chime support"

[2020-06-04 13:30] leits opened #13 "MS Teams support"

[2020-06-04 13:30] leits opened #14 "Hangouts support"

[2020-06-04 13:33] leits opened #15 "Truncating the title to a configurable number of characters"

[2020-06-04 16:26] lisaross opened #16 "Would be great if we could install using homebrew/cask"

[2020-06-05 08:54] leits commented on #16
Thanks, @lisaross , it's a great idea!

[2020-06-05 10:25] leits commented on #6
Thanks for the bug report.

How often it's happening?

[2020-06-05 17:13] durdevic commented on #6
Today was fine, I'll let you know if it comes up again.

[2020-06-09 09:12] maddada opened #18 "Windows Port?"
Looks like a very useful app, would really love if it could be also ported to windows.
An icon in the notification panel, or a floating bar would suffice.

All the best.

[2020-06-09 14:23] leits commented on #16
@lisaross
Good idea!
Check it out:
[code]

[2020-06-09 14:23] #16 closed

[2020-06-09 16:06] brandenbyers opened #19 "Crash when joining event without a video link"
**Describe the bug**
When attempting to join a meeting without a video link, the app crashes consistently.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a calendar event with no video link nor location.
2. Try to join the meeting via the menu bar app or keyboard shortcut.

**Expected behavior**
Do nothing, don't crash, and/or notify the user that the meeting cannot be joined.
**Desk

[2020-06-09 16:33] leits commented on #19
Thanks!
I managed to reproduce it, the fix will be in the next release 👍

[2020-06-12 15:44] leits commented on #4
@durdevic Check the new release with this feature:
https://github.com/leits/MeetingBar/releases/tag/v1.1
+
The app is available on homebrew now:
brew cask install meetingbar

[2020-06-12 15:44] #4 closed

[2020-06-12 15:45] leits commented on #5
@durdevic Add option to limit event title or change to"Meeting" in v1.1.

[2020-06-12 15:45] #5 closed

[2020-06-12 15:46] leits commented on #15
@Niels-NTG Check the new release with this feature:
https://github.com/leits/MeetingBar/releases/tag/v1.1
+
The app is available on homebrew now:
`brew cask install meetingbar`

[2020-06-12 15:46] #15 closed

[2020-06-12 15:46] leits commented on #19
@Niels-NTG Check the new release with bugfix:
https://github.com/leits/MeetingBar/releases/tag/v1.1
+
The app is available on homebrew now:
`brew cask install meetingbar`

[2020-06-12 15:47] #19 closed

[2020-06-12 15:47] #8 closed

[2020-06-12 15:47] leits commented on #8
Added in v1.0.

[2020-06-12 15:47] leits commented on #10
Added in v1.1.

[2020-06-12 15:47] #10 closed

[2020-06-12 15:48] leits commented on #9
Added in v1.1.

[2020-06-12 15:48] #9 closed

[2020-06-12 16:23] jstart opened #20 "Support non-military time"
I think it would be great to just have a toggle setting between military and non-military time display.

[2020-06-15 20:26] Thomas-Stewart opened #21 "Time to next meeting does not round"
**Describe the bug**
If there is 1 hour and 59 minutes until my next meeting, the meeting bar will read "in 1 hour".

**Expected behavior**
The time will round to the nearest hour or show minutes

**Desktop (please complete the following information):**
 - macOS version: 10.15.3

**Additional context**
Maybe this is expected behavior? But it keeps fooling me into thinking my meetings are much soon

[2020-06-16 14:08] leits commented on #21
Hi, Thomas. Thanks for report!
Please, check the latest version, it changes the display to "1 hour and 59 minutes" instead of "1 hour".

[2020-06-16 14:09] #21 closed

[2020-06-16 15:32] leits commented on #20
@jstart Check the new release with this feature!

[2020-06-16 15:33] #20 closed

[2020-06-16 15:51] patmigliaccio opened #22 "Duplicate calendars selected if name conflict exists"
**Describe the bug**
Selection of a calendar that has a calendar with the same name in the listing is selecting both and displaying duplicate events in the meeting bar listing.

Related to #4

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Preferences'
2. Click on 'Calendars'
3. Select a calendar that has the same name as another calendar
4. See issue
5. Observe duplicate events in "T

[2020-06-17 07:08] maxanstey opened #23 "Meeting says "in 1 hour" when it's actually 1 hour + 55 minutes away"
**Describe the bug**

It's 08:05am and I have a meeting at 10am. The bar says "<meeting name> in 1 hour"

**To Reproduce**
Steps to reproduce the behavior:

1. Create a meeting entry
Observe that when it is closer to 2 hours away, the bar says 1 hour away

**Expected behavior**

If rounding down, it should say something like "in less than 2 hours" rather than just "in 1 hour"

**Screenshots**

![S

[2020-06-17 10:42] leits commented on #23
Hi, @maxanstey. Thanks for the report.
What version are you using? I fixed this in 1.1 release.
Check it out!

[2020-06-17 10:57] #23 closed

[2020-06-17 10:57] maxanstey commented on #23
Sorry @leits , I was on 1.0b14 -- I've upgraded now and will presume it's fixed. I won't know until tomorrow, but I trust you! Sorry again for not updating first. Thanks

[2020-06-17 11:38] leits commented on #23
All right, I'm happy to help!

[2020-06-18 19:27] durdevic commented on #4
Really nice update man, really nice update 💪

Multiple calendars work and long title is quite handy!

[2020-06-23 14:40] patmigliaccio opened #24 "Event always opens the meeting with the default account not the calendar-specific account"
**Describe the bug**
When selecting an event, Google Meet opens with the default account selected, not the account of the calender.

**To Reproduce**
1. Have multiple accounts logged in and calendars added to MeetingBar
2. Select a calendar event that is not the default logged in

**Expected behavior**
Google Meet should open with the account of the calendar event

**Desktop (please complete the f

[2020-06-25 20:36] rubenamorim opened #25 "Meetings are always created in Google Meet"
**Describe the bug**
Whenever I tried to create a meeting, it's always created in Google Meet, even changing the preferences for Zoom.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Preferences'
2. Select create meetings in 'Zoom'
3. Close preferences
4. Click on 'Create meeting'
5. The app creates a meeting in Google Meet.

**Expected behavior**
The app creates a meeting in Zoom.

*

[2020-06-26 17:04] hamsternik opened #26 "Crash on the start of the app in case when try to parse the name of the attendee"
**Describe the bug**
The journey started from the moment when I have tried to run the app (previously downloaded from via the Brew) multiple times but didn't see any response reaction on the basic action. That leaded me to download the app from the repo and figure out the issue manually.

So, when I have cloned the repo and run the app, I saw that it crashed at the StatusBarItemControler.swift, li

[2020-06-30 14:54] leits commented on #26
@hamsternik Thanks for so detailed bug report! I going to fix it tomorrow and publish a new release!

[2020-06-30 14:56] leits commented on #25
@rubenamorim Thanks for the bug report! I'm going to fix this in the next release!

[2020-06-30 15:02] leits commented on #6
@durdevic, did this happen to you again?

[2020-07-02 12:54] durdevic commented on #6
Everything is fine up until now, so I'm gonna close this one, and let you know if something happens later on.

[2020-07-02 12:54] #6 closed

[2020-07-06 20:10] leits commented on #22
@patmigliaccio check the new 1.3 version!

[2020-07-06 20:11] leits commented on #25
@rubenamorim check the new 1.3 version!

[2020-07-06 20:12] leits commented on #26
@hamsternik sorry for delay. Check the new 1.3 version!

[2020-07-06 20:27] hamsternik commented on #26
Thanks for you response, will check it!

[2020-07-06 20:35] rubenamorim commented on #25
It seems to be fixed, so I will close this issue 🚀
Thank you 🙏

[2020-07-06 20:35] #25 closed

[2020-07-07 07:14] SamDja opened #27 "As a user I would like meeting bar to automatically open on login"
**Is your feature request related to a problem? Please describe.**
Now the user has to go to "System preferences" to add the app to login items and not many users are familiar with this process.

**Describe the solution you'd like**
In the preferences of the app I would like to check the possibility to automatically open the app on user login.

[2020-07-08 07:40] SamDja opened #28 "Events don't sync with the calendar"
**Describe the bug**
The events shown in meeting bar are the same I had yesterday when I first opened the app. I tried to close and reopen, but an event which was a repeated event is still present even though it has been canceled from the calendar. But it appears to be a problem related to mac's Calendar App.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the app
2. Link a calendar
3.

[2020-07-08 14:57] #26 closed

[2020-07-09 22:38] patmigliaccio commented on #22
Excellent. Works great!

[2020-07-12 23:15] #22 closed

[2020-07-29 21:34] petethepig opened #29 "Support earlier versions of macOS"
**Is your feature request related to a problem? Please describe.**
MeetingBar doesn't work on macOS Mohave (I'm on 10.14.5)

**Describe the solution you'd like**
It'd be great if it worked on earlier versions of macOS, such as macOS Mohave.

**Describe alternatives you've considered**
I considered upgrading to Catalina, but I'm not going to do that in the near future.

**Additional context**
I don

[2020-07-29 21:39] bberenberg opened #30 "Automatically Join Meeting"
I don't want to remember to click to join. I want it to automatically join when it's the right time. Likely best to default this to disabled and let users like myself opt into it

[2020-07-29 22:43] usmanity opened #31 "Extra space between meeting name and time"
**Description**
When the length is set to unlimited, there's an extra space between the meeting name and time, see screenshot.

**To Reproduce**
Happens to every meeting

**Expected behavior**
One less space.

**Screenshots**

![image](https://user-images.githubusercontent.com/415313/88861151-357d2800-d1b2-11ea-875d-925a62e31ed0.png)

**Desktop (please complete the following information):**
 - mac

[2020-07-29 22:51] mobiliodevelopment commented on #29
I'm working on 10.13 due issues with new macOS versions, but this is long story.

I also would like to see support for earlier versions.

[2020-07-29 23:03] jamesray opened #32 "Cisco Webex Support"

[2020-07-29 23:25] crstauf opened #33 "Allow Apple to check for malicious software"
**Is your feature request related to a problem? Please describe.**
While I know it's not necessary, I receive a lot of peace of mind when I don't see the warning:
<img width="532" alt="Screen Shot 2020-07-29 at 7 21 24 PM" src="https://user-images.githubusercontent.com/4573033/88863466-f0b4b980-d1d0-11ea-9225-c21636153d94.png">

**Describe the solution you'd like**
Allow Apple to check for malicio

[2020-07-29 23:51] sirupsen opened #34 "Add authuser to url"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
I am logged into multiple Google Accounts for Meet. Ideally, it'd figure out which one owns an event, and then add `?authuser=$email` to the URL to avoid users having to switch manually.

**Describe alternatives you've considered**
This seems like the simplest solution.

**Additional context

[2020-07-30 03:15] dansiemens commented on #34
Duplicate of #24

[2020-07-30 10:03] ronakjain90 commented on #29
Hi - Wanted to try this app, but got the following error.

[code]

Would be nice older OS is supported too. Commenting here so that I could be notified if this is fixed.

[2020-07-30 12:15] dutzi opened #35 "Add an option the shorten the ETA counter"
Hey, great app!

Would it be possible to add an option to shorten the ETA counter, meaning the "in 1 hour 45 min", to something like "1h 45m" (avoiding colons as it may be mistaken with the clock)?

[2020-07-30 12:18] dutzi opened #36 "Nitpick - Once clicking on the menubar, Cmd+, (Cmd+comma) should open preferences"
:)

[2020-07-30 13:53] AndreasBackx opened #37 "Add support for custom scripts"
**Is your feature request related to a problem? Please describe.**

At work we have internal tools for meetings. It'd be neat to make this trigger a custom script for joining a meeting.

**Describe the solution you'd like**

I write my own script to join a meeting. This script would get as much information as possible from the app so it can figure out what meeting/calendar instance it is and link

[2020-07-30 14:27] globau commented on #11
You can do this by using the `zoommtg` protocol.

From the command line: `open zoommtg://zoom.us/join?confno=123456789`

[2020-07-30 14:32] globau opened #38 "Add option to show only upcoming meetings intead of meetings for the current day"
**Is your feature request related to a problem? Please describe.**

I work weird hours that span midnight (working until 2am isn't unusual).
As a result MeetingBar isn't that useful as it only displays meetings up to midnight.

**Describe the solution you'd like**

I would like an option to show only upcoming meetings – for example looking forward for the next 8 or 12 hours – rather then midnight-

[2020-07-30 15:26] itsamoreh commented on #11
Thank you!

This is exactly what I’m looking for. I even get the Zoom icon showing up in the speed dial area.

You guys are the best!

- Amor

[2020-07-30 19:41] vforge commented on #38
I used https://apps.apple.com/us/app/next-meeting/id1017470484 till today and I really miss showing meetings in the next 72h

[2020-07-30 20:29] leits commented on #38
@globau , @vforge looks like an awesome feature for the next release!
What do you think about the options "today events"/"next n-hours events"?
Or "today events"/"next n-days events" options better?
(where "n" is customizable)

[2020-07-31 02:53] globau commented on #38
I think N-hours would be clearer.
ie. if it were set to "1 day", it might be interpreted differently from the next 24 hours.

[2020-07-31 10:12] FrankKair opened #39 "Config in preferences menu to hide meetings one declined"
**Is your feature request related to a problem? Please describe.**
In order to reduce the clutter of the list of events, I think it'd be nice to hide events that I declined, not just having a strikethrough.

**Describe the solution you'd like**
I'd like to have a config in the "preferences" menu.

**Additional context**
No additional context, quite straightforward.

[2020-07-31 15:24] DefCon-007 commented on #27
Hey @leits, If no one is working on this feature, I would love to work on it.

[2020-07-31 15:58] leits commented on #27
@DefCon-007 , that would be great! Thank you!

[2020-07-31 17:22] veloxo commented on #13
FYI, the native protocol is `msteams`, eg: `open 'msteams://teams.microsoft.com/l/meetup-join/*'`

[2020-07-31 18:50] sn0wyfall opened #40 "Ability to join meeting that has already ended"
I would like to be able to join meetings that are over. Currently there does not seem to be any way to do so.

This is because perhaps I have another meeting in the same room (which is not in my calendar), or the meeting that should have been over is still going on and I want to rejoin it easily.

[2020-08-01 04:47] sn0wyfall opened #41 "Abbreviate menu bar text to make more concise"
The app takes a lot of space in the menu. IMO a better use of space would be to write "8h" instead of "8 hours" or "52m" instead of "52 minutes."

[2020-08-01 04:56] sn0wyfall opened #42 "Replace event name with event dot"
It would be cool to have an option to replace events in the menu bar with a dot that has the same color as the calendar from where the event is from. This would prevent the menu bar from getting too cluttered, as currently my menu bar already has too much stuff (even with Bartender). So it would look something like the following:

I know a few years back that there was some sort of app which put a

[2020-08-01 09:50] leits commented on #41
@sn0wyfall thanks for the feature requests!
But it's duplicate of #35, follow it for getting updates!

[2020-08-01 09:50] #41 closed

[2020-08-03 12:24] hkdobrev commented on #27
I have managed to do this by adding `MeetingBar.app` to Preferences -> Users & Groups -> Login Items.

[2020-08-03 14:49] sn0wyfall commented on #35
At the moment it only shows hours. So 1h 45m would be shown as 1h. I prefer it this way because I actually don't really care how many hours _and minutes_ I have left, until there is less than 1 hour remaining. So I think the current behavior would work well with this.

[2020-08-03 14:57] sn0wyfall opened #43 "Can't join Zoom meeting"
**Describe the bug**
I have a Zoom meeting in my calendar with the URL in it. When I click "join next meeting" it doesn't seem to do anything.

**To Reproduce**
Steps to reproduce the behavior:
1. Add meeting in calendar with zoom URL for later today
2. Try to join it using menu bar app

**Expected behavior**

Should open Zoom _directly_ (i.e. not web browser)

**Desktop (please complete the follo

[2020-08-04 04:32] globau commented on #43
That's https://github.com/leits/MeetingBar/issues/11

[2020-08-04 08:09] wayneashleyberry opened #44 "Contacts acccess was NOT granted"
**Describe the bug**

The app does not start. I am seeing a ton of errors regarding being unable to access contacts. The app does not show under "Contacts" in Privacy settings though, so I cannot provide access manually.

**Screenshots**

<img width="1685" alt="Screenshot 2020-08-04 at 9 08 29 am" src="https://user-images.githubusercontent.com/727262/89269656-15c28580-d632-11ea-9793-51eff4d8bba0.p

[2020-08-04 09:57] Nainterceptor opened #45 ""HTTP" meeting"
Hello,

At work, we choose to use opensources products when it fit our needs, so we don't use Google meetings nor Zoom, but Jitsi, on a self-hosted instance.

I think it's a good option to be able to open meeting in default web browser when it's not a google meeting or zoom meeting ?
And maybe, meeting creation will just open calendar creation event ?

Have a nice day, and thanks for the product,

[2020-08-04 14:26] sn0wyfall commented on #43
@globau Awesome, thanks! It's even added in the next release it seems? Which is super cool.

However, I still can't open any Zoom meetings from the menu bar. I have an event coming up soon, but when I click "join meeting" nothing happens. Isn't Safari supposed to open?

[2020-08-04 16:53] quentinms commented on #6
Happens to me every other day or so.
What info do you need from me to debug this?

[2020-08-04 19:54] jt2k opened #46 "Search location field for meeting link"
**Is your feature request related to a problem? Please describe.**
Some of my meeting events use the location field to store a Zoom or Google Meet link. I cannot join a meeting when the meeting link is in the event's location field.

**Describe the solution you'd like**
In addition to looking in the event notes, look for meeting links in the [location property](https://developer.apple.com/document

[2020-08-06 08:19] dommerq opened #48 "Time left in *many* minutes"
When there's a long event, like a day-long event (or longer), the "time left" shows the total number of minutes which in my 2-day long even show 2264 min left at the moment.

Steps to reproduce the behavior:
1. Create a 2-3 day even like an offsite event
2. Wait for the even to start
3. Look at the MeetingBar remaining minutes
4. Open your calculator haha

Just showing the short version (eg "1 day

[2020-08-07 10:32] Rucknar commented on #40
I think this works already, as long as the meeting is in the same day of course. If you click on the menu bar item, select the event from the list of a prior meeting (strikethrough font) then you it loads up that meeting. Just tested and works for me on meetings that have finished.

[2020-08-07 14:02] cromulus commented on #46
This! My colleagues all put the meeting link in the location.

Thanks!

[2020-08-08 10:26] sn0wyfall commented on #40
@Rucknar That’s weird. I tested and I can’t open any events from MeetingBar. Any thoughts? I’d like to move away from Meeter since it dropped functionality for free users.

[2020-08-10 14:17] durdevic commented on #6
Got stuck again

![Screenshot 2020-08-10 at 16 14 39](https://user-images.githubusercontent.com/2753836/89792493-e70e4880-db24-11ea-864c-675398e62a87.png)

[2020-08-11 17:53] advicepyro opened #49 "Send event notification"
Hi there! Nice app, really liking the ability to see event details in the menu.

I'd like to see the option of having the menu bar icon show without changing into an upcoming events timer, or a timer for the current event. Optionally, perhaps pair this with the ability to send notifications when a meeting starts.

[2020-08-14 03:12] AnthonySmith01 commented on #46
I'd also love to see this, particuarly in these COVID times.

Still a great addon but this would be a nice to have, I might have a go at a PR if no one else is onto it.

[2020-08-14 08:49] sweiland opened #50 "Remaining Time stopped working"
**Describe the bug**
I currently have a calendar event with a total length of 240 minutes. MeetingBar has been stuck displaying "223 min left" for a while now (the event started 46 minutes ago).

**To Reproduce**
Not sure if it's reproducible, I can try to reproduce it later and update accordingly.

**Expected behavior**
Correct remaining time should be displayed.

**Screenshots**
If applicable, a

[2020-08-16 20:16] insipidlight commented on #43
I'm having this issue too. Half my meetings are in Google Meet and half in Zoom. Clicking "Join next event" doesn't do anything. There's no documentation about where to actually put the meeting URL?

[2020-08-17 11:33] durdevic opened #51 "Settings for maximum chars to be show in the menu bar"
****Is your feature request related to a problem? Please describe.**
You can, as a workaround for the issue of the menu item being hidden, create a setting for limiting the amount of chars for the event.

Usually you need at most 10 chars to remember the name of the next event, but it's more important to know the time when the meeting occurs.

You can always click on the menu item to see the full

[2020-08-18 09:06] antkiselev opened #52 "Links in event description"
Links are not clickable. Is it a bug? It would be great to be able to use them to access materials mentioned in the description or to join unsupported web conferencing clients (e.g. Skype for business).

[2020-08-18 09:24] antkiselev opened #53 "(Feature request) JOIN button"
It would be great to automatically detect URLs of the most popular web conferencing services (Zoom, GoogleMeet, Skype, Skype for business, Webex) in the description or URL field and show button JOIN opening the URL 5 min before and during the meeting time.

[2020-08-18 14:11] dev10110 opened #54 "Show meetings that technically are tomorrow, but happen soon."
**Is your feature request related to a problem? Please describe.**
Feature Request
I am currently based in Singapore but have meetings with people in London and New York. As such, I often have meetings at 12:30 am or 1am in my local time (and sometimes later), but Meeting Bar shows it as though I've finished all my meetings for the day. It's already confusing dealing with meetings that are schedul

[2020-08-19 15:57] leits commented on #18
Sorry, but it's impossible.
But I know that in the latest versions of Windows you can integrate external calendars into the system and see the events in the popup menu bar. Try it.

[2020-08-19 15:57] #18 closed

[2020-08-19 15:59] leits commented on #53
@antkiselev , do you try to click right on event title in main menu? It works just like a "join" button that you describe)

[2020-08-21 03:04] sn0wyfall commented on #43
@insipidlight My understanding is that it should grab the meeting URL automatically from the calendar event. That's how Meeter does it. Idk about this though

[2020-08-25 18:04] chaseadam commented on #50
I can report this same "frozen" behavior for several meetings as well as upcoming meetings "X in X min". I am not able to reliably reproduce, but happy to help debug with some guidance.

OSX 10.15.6 (19G2021)

[2020-08-26 03:40] jaden-young opened #55 "Ignore events (e.g. availability blocks)"
**Is your feature request related to a problem? Please describe.**
Work asks for calendar events for work from home (WFH)/availability. Status bar ends up showing `WFH Now` up until ~15 minutes before an actual event starts.

**Describe the solution you'd like**
I'd like to be able to have some way to prevent an event from showing on the status bar, I want the next event to show, e.g. `Team meetin

[2020-08-26 20:05] leits commented on #55
Wow. Great idea, @jaden-young !

Do you have any things cleaning the filter ignoredCalendarItemIDs?
It looks like they will mostly just filling up.
And maybe it makes sense to do it only for recurring events?

Waiting for your feedback. Thanks for the feature!)

[2020-08-26 20:16] jaden-young commented on #55
@letis I think your comment was meant for the PR in #56, moving discussion there.

[2020-08-27 08:16] antkiselev commented on #53
Thank you for your response. I've just tried to do that, but it didn't work for either Skype for Business or Zoom. How can I enable extended logging to track the bug?
From my perspective, it would be more intuitive to open the event in the calendar by clicking on the event title.

[2020-08-27 08:30] leits commented on #53
The current version (1.3) has some issues with zoom connectivity and no Skype for Business support.
But both will be fixed in the next (1.4) release!

[2020-08-27 08:37] antkiselev commented on #53
Thanks, looking forward to that! I'll definitely join the beta testing. In my case, Skype for Business URL looks like https://meet.[company domain]/[company domain]/meet/[username]/[meeting-id].

What about opening the event on the calendar app? Would it be possible to open that for example by clicking event description in submenu?

[2020-08-27 14:35] leits commented on #49
Hi, @advicepyro.
I'll split this issue to two: one about notification and one about menu bar icon!

[2020-08-27 14:37] leits opened #57 "Option to show only menu bar icon"
From @advicepyro

Hi there! Nice app, really like the ability to see event details on the menu.

I'd like to see the option of having the menu bar icon show without changing into an upcoming events timer, or a timer for the current event.

[2020-08-27 14:44] leits opened #58 "Add support for 17 new integrations!"
- Ring Central
- GoToMeeting
- GoToWebinar
- BlueJeans
- 8x8
- Demio
- Join.me
- ZoomGov
- Whereby
- Uber Conference
- Blizz
- VSee
- StarLeaf
- Google Duo
- Tencent VooV
- Skype
- Skype For Bussines

[2020-08-27 14:50] leits commented on #53
Hm. I found in Microsoft documentation that they use lync.com domain and the links to Skype for Business meetings start from 'https://meet.lync.com'.
Thanks! I will update the regex for the service.

[2020-08-27 14:56] antkiselev commented on #53
lync.com might be used for cloud version, the URL with a custom domain – for self-hosted enterprise solutions.

[2020-08-28 14:35] leits commented on #44
I assume that the program crash because of some other problem. Could you look at the logs further?

Contracts access request is the [old macOS bug](https://stackoverflow.com/questions/61103650/ekeventstore-requests-contacts-access-on-macos) but doesn't it crash the app.

[2020-08-28 17:05] dev10110 opened #59 "Open Calendar event in Submenu"
**Is your feature request related to a problem? Please describe.**
Feature Request.
When I click into the details of an event in the meeting bar, I can't click anything, especially links that are embedded in the event details.

**Describe the solution you'd like**
I would like to be able to click somewhere to open my calendar (hopefully to the specific event) so I can see all the details.

**Descr

[2020-08-29 17:05] dev10110 commented on #59
Addressed by #60, but not fully - calendar app can be opened, but not to a specific event.

[2020-08-31 15:51] leits opened #61 "🚀 Public beta: 1.4"
Hi folks!

**A new release with a huge number of new features is ready!**
I need your feedback to make this version more stable.

----------
Check the full list of features and bug fixes here:
https://github.com/leits/MeetingBar/issues?q=milestone:1.4
(except LaunchAtLogin feature (_WIP_))

DMG is here: https://github.com/leits/MeetingBar/releases/download/v1.4.rc3/MeetingBar.dmg

----------

Than

[2020-08-31 16:20] leits opened #62 "💬 Request new service integration"
If you use a service that isn't supported in MeetingBar, leave a comment here with the service's name and an example link to the meeting. Thank you!

--------
Currently supported services:
- Google Meet
- Zoom
- Google Hangouts
- Microsoft Teams
- Amazon Chime
- Cisco Webex
- Jitsi
- Ring Central
- GoToMeeting
- GoToWebinar
- BlueJeans
- 8x8
- Demio
- Join.me
- ZoomGov
- Whereby
- Uber Conference

[2020-08-31 18:41] dev10110 commented on #27
maybe https://github.com/sindresorhus/LaunchAtLogin can help? ive never implemented this myself so im not sure

[2020-08-31 19:25] leits commented on #59
Thanks, @dev10110!
It's a great idea to open a calendar app for the event!

I think the opening event in the calendar is much more valuable than the calendar opening.
This can be done easily in other ways, as opposed to opening an event in the calendar.

Did you try to use `calshow:` URI scheme? Maybe it will works as you want.

[2020-08-31 21:16] dev10110 commented on #59
I tried, but I am not familiar with the URI scheme, and couldn't figure out what the right URI should be.
If you point me in the right direction, I'll implement it!

btw, for mac it seems we need to use `ical`, `calshow` is for iOS (?).

[2020-09-01 00:19] AnthonySmith01 commented on #61
Thanks! great work, still one of my favourite little apps.

[2020-09-01 04:17] dutzi commented on #61
Nice! Looks really good 👍

[2020-09-01 10:40] jogendra opened #63 "Add 'Launch on Login' feature"
**Is your feature request related to a problem? Please describe.**
It is frustrating to run MeetingBar every time I start my machine to show up in Menu.

**Describe the solution you'd like**
Add an option to Launch on Login in preferences which can be enabled or disabled according to user convinience.

If you think this feature worth add, I can open a pull request for the same.

[2020-09-01 11:01] leits commented on #63
Thanks for request @jogendra!

This duplicates #27 , folow it instead

[2020-09-01 11:01] #63 closed

[2020-09-01 11:10] jogendra commented on #63
Thanks, @leits for letting me know. I went through open issues but somehow missed the already opened issue. Will follow up from #27

[2020-09-01 11:26] jogendra commented on #27
Hey @leits, can I pick this up if you haven't started working yet? I will make sure I do not block this for long time.

[2020-09-01 12:48] leits commented on #27
@jogendra , it will be great!

I tried to use https://github.com/sindresorhus/LaunchAtLogin, but after the first attempt and build errors, I postponed it.

[2020-09-01 15:04] advicepyro commented on #61
Thanks @leits! Wanted to report though Zoom links aren't working, whether it's the default browser or the native Zoom app. This is either clicking the notification to join, or clicking the event name in the menu.

[2020-09-01 15:18] leits commented on #61
Thanks, @advicepyro. Can you give an example of a link? And where is it stored in the location or in the notes?

[2020-09-01 16:13] chaseadam commented on #61
I can report the same

Attached is an example meeting entry in OS X Calendar
![image](https://user-images.githubusercontent.com/333031/91877788-77cfd400-ec4c-11ea-91ac-0a7712053062.png)

[2020-09-01 18:25] insipidlight commented on #61
@advicepyro @chaseadam See #43, probably more useful than the release thread 🙂

[2020-09-01 19:39] chaseadam commented on #43
I can report the same from #61 comments

Attached is an example meeting entry in OS X Calendar

![image](https://user-images.githubusercontent.com/333031/91877788-77cfd400-ec4c-11ea-91ac-0a7712053062.png)

[2020-09-01 19:39] leits opened #64 "Configurate join event notification"
Add options to configure when to send notification about the start of the event.
ref : https://github.com/leits/MeetingBar/commit/59b7ca5a975a47c73fc333dbcc4d203d740de4d9

[2020-09-01 19:47] leits commented on #61
@insipidlight @advicepyro @chaseadam  I made Zoom links regex less specified for better handling.
https://github.com/leits/MeetingBar/releases/download/v1.4.rc2/MeetingBar.dmg
Please, try it now

[2020-09-01 20:32] advicepyro commented on #61
Unfortunately links are not working still. They were fine in the last stable release. Either 'default browser' or 'Zoom app' causes the Zoom app to open if it wasn't open already, but beyond that nothing happens.

My settings for apps (default browser doesn't work either):
<img width="682" alt="Screen Shot 2020-09-01 at 4 23 36 PM" src="https://user-images.githubusercontent.com/6377466/91902924-6d

[2020-09-01 21:06] leits commented on #61
Thanks to @advicepyro , I finally understood where the problem was.
In fact, there were even two of them, and none of them was regex.
1. Ignoring app config and always try to open Zoom links in the app
2. A small difference in zoommtg protocol for Zoom app with http zoom links from the calendar

I finally managed to reproduce both bugs and fix them.
@advicepyro Please, try one more time:
https://g

[2020-09-02 15:23] dev10110 commented on #61
Hi @leits,

Just wanted to raise another issue that's kinda weird.

Here is what v1.4 is showing me

<img width="567" alt="Screenshot 2020-09-02 at 11 15 47 PM" src="https://user-images.githubusercontent.com/26798612/92002334-57019e80-ed72-11ea-9e22-a77867bd47ed.png">

and here is the set of events coming up:
Today 23:30 - Tomorrow 01:00 : Aerosp 584
Tomorrow 1:30 - Tomorrow 2:30 : ME564

Heres a

[2020-09-02 15:31] dev10110 commented on #61
OHHH nvm, I just figured out what was happening. It was showing me yesterdays event that ended today (ME 540) as part of today's events.

So i think both issues I just raised are actually the same - you just need to classify today vs tomorrow based on when they started, not when they ended.

This might raise some issues for multi-day events...

Here is a proposed fix.

In the headings, label it as

[2020-09-02 16:32] leits commented on #61
Thanks, @dev10110 !
I added filtration for events here https://github.com/leits/MeetingBar/commit/823bed00275783ce390e6a027b0660473343c60f and https://github.com/leits/MeetingBar/commit/48a52aa45ab607702fe8f7fff667b8c87da8748b.
First for hiding events that start not today and the second to show all-day events that start not today.

[2020-09-02 17:16] dev10110 commented on #61
@leits Awesome! Thanks for the really quick update :) I just built the app and its looking good.

Currently the events that are tomorrow but start today but end tomorrow are repeated in both today and tomorrow (see ME540 in the attached, but this is something I'm personally alright with. Just putting it here for reference.

<img width="478" alt="Screenshot 2020-09-03 at 1 12 44 AM" src="https://us

[2020-09-03 14:08] advicepyro commented on #61
@leits the native app links are working on my end, thanks 👍

[2020-09-07 05:09] insipidlight opened #65 "Unexpected event name clipping with "...""
This isn't a big issue, I think it's just a matter of a string index being one off. When the event name is the same length as the max displayed, the ellipses appear one character earlier than expected–it already shows the whole name. The gif should explain it better.

I do also wish there were an option to remove the "in" & "...", or have a custom separator (adding on to #42)

![output](https://us

[2020-09-07 07:01] leits commented on #65
Thanks, @insipidlight!
This will be fixed in the next release

[2020-09-09 17:54] leits commented on #61
MeetingBar 1.4 released 🚀
Thank you all!

[2020-09-09 17:54] #61 closed

[2020-09-09 17:55] #11 closed

[2020-09-09 17:55] #12 closed

[2020-09-09 17:55] #13 closed

[2020-09-09 17:55] #14 closed

[2020-09-09 17:55] #31 closed

[2020-09-09 17:55] #32 closed

[2020-09-09 17:55] #35 closed

[2020-09-09 17:55] #36 closed

[2020-09-09 17:55] #38 closed

[2020-09-09 17:55] #39 closed

[2020-09-09 17:55] #40 closed

[2020-09-09 17:55] #42 closed

[2020-09-09 17:55] #43 closed

[2020-09-09 17:55] #46 closed

[2020-09-09 17:55] #48 closed

[2020-09-09 17:55] #49 closed

[2020-09-09 17:55] #54 closed

[2020-09-09 17:55] #58 closed

[2020-09-09 17:55] #64 closed

[2020-09-09 17:55] #65 closed

[2020-09-09 17:56] #53 closed

[2020-09-09 17:57] #44 closed

[2020-09-09 18:48] raivivek opened #67 "Show next meeting after some time if already in a meeting"
**Is your feature request related to a problem? Please describe.**
If I have two back to back meetings, then it'd be nice to have the next meeting start to show up in the menu bar when it's near the start time. Currently, it continues to show "XXX (9m left)" for the current meeting I am in right now.

**Describe the solution you'd like**
Given a preference of say 15 mins, show next meeting details

[2020-09-09 21:26] ZNielsen commented on #62
Chime integration would be great! Links to meetings come in the form of `https://chime.aws/<meeting_id>`, for example https://chime.aws/1234567890

[2020-09-10 02:01] sn0wyfall opened #68 "Allow more specific increments for pre-notification times"
**Is your feature request related to a problem? Please describe.**
Hi! I would love to be able to choose to see the notification either 2 or 3 minutes before the meeting starts. IMO 1 minute is a bit too late and 5 minutes is a bit too early. I feel like being able to choose a range from 1-5 minutes would be perfect for most people.

**Describe alternatives you've considered**
I have Meeter instal

[2020-09-10 04:02] jogendra commented on #27
Hey @leits Sorry for little delay. I will submit the PR soon.

[2020-09-10 07:52] sweiland commented on #50
Sorry, but I think you'll have to reopen this issue. Installed 1.4 via homebrew earlier, and it got stuck again, next time I'll check out the beta too.

![image](https://user-images.githubusercontent.com/4283335/92696999-01695b00-f34b-11ea-94b3-dc9c2849507d.png)
![image](https://user-images.githubusercontent.com/4283335/92697041-0e864a00-f34b-11ea-8cb7-f84bb2fa37a7.png)

[2020-09-10 08:38] leits commented on #50
Thanks, @sweiland!
I will continue to look for ways to solve this.

Could you help me with the information?
What is the duration of stucking did you notice and how often?
The countdown is restored by yourself, or are you doing something with the app?
Is your Mac heavily loaded at the stucking time?

[2020-09-10 09:20] sweiland commented on #50
Don't know the exact duration, but I've been keeping an eye on it and it seems to resume every about 30 minutes or so. It just jumped from 1:15h to 50m, and is now stuck on that.
I'm not doing anything to get it to work, it just jumps sometimes.
My system load isn't that high, currently sitting at ~15% CPU and ~70% RAM utilization, with all typical processes running. It's an i9 MBP, so I would be

[2020-09-10 09:59] sweiland commented on #50
ok so it's exactly 25 minute intervals in which it updates apparently. interesting!

[2020-09-11 05:44] insipidlight opened #70 "Zoom URL with a dash in orgnization name not recognized"
I've finally had some time to fork and look through things. I noticed that university Zoom link with a dash would not open. Looks like it doesn't match the regex, which explains why I've been having some issues.

https://*-edu.zoom.us/j/

Current regex is
`https://([a-z0-9.]+)?zoom.(us|com.cn)/j/[^\s]*`

From the [Guidelines for Vanity URL Requests](https://support.zoom.us/hc/en-us/articles/215062

[2020-09-11 06:03] fuzzy76 opened #71 "List supported services on the front page"
I actually dismissed this program early on, because the web page said it was for Google Meet and Zoom only. Both the web page and the README gives the impression that these are the two services supported.

I returned after a while, and searched your issues for news on Teams support, and suddelnly noticed it was already supported.

[2020-09-11 06:06] fuzzy76 opened #72 "Toggle Do Not Disturb mode"
I would love for MeetingBar to toggle DnD mode on (and off again) for meetings I have accepted.

To avoid clutter, perhaps there should be a separate calendar selection to choose which calendars should affect DnD mode.

Bonus points for adding presence control for external services (set me as busy in Teams/Skype etc when I'm in a Zoom meeting).

[2020-09-11 10:31] leits commented on #62
Thanks, @ZNielsen.
There is support for the service, I just forgot to add it here.
But I see that parsing may not be correct. I relied on `app.chime.aws`.
I will fix this in the next release!

[2020-09-11 10:34] leits commented on #70
Thanks, @insipidlight. I will update the regex!

[2020-09-11 10:45] leits commented on #71
Thanks. @fuzzy76!
Support for this service was added just a few days ago. I updated the readme and will update the site soon!

[2020-09-11 10:45] #71 closed

[2020-09-11 11:37] fuzzy76 commented on #45
I believe Jitsi was fixed here: https://github.com/leits/MeetingBar/commit/a255d77c0a8b973febfe00799e76e8da0b77d3ec

[2020-09-11 14:08] #24 closed

[2020-09-11 14:09] Itaybre commented on #27
I have already done this in my apps, I can't implement this if you are busy @jogendra

[2020-09-11 14:17] Itaybre commented on #72
It seems there is no public API for this, at least not for sandboxed apps

But can be done with [sindresorhus/do-not-disturb](https://github.com/sindresorhus/do-not-disturb) for unsandboxed

[2020-09-11 14:24] ZNielsen commented on #62
Awesome, thanks!

[2020-09-11 14:30] Itaybre commented on #45
@Nainterceptor can you post an example URL? (you can replace your website/IP so there is no security threat for your company)

@fuzzy76 It is unlikely that it was fixed by that commit, because they are probably using an IP address or a non public domain, probably a more generic regex will be required or just an option for the user to insert their custom domain

[2020-09-11 18:47] oakif opened #74 "Zoom link doesn't show up; can't join meeting"
**Describe the bug**
I'm having the following problems:
* I can't join meetings using Meeting Bar, either using the menu bar item or through Meeting Bar's notifications
* I can't see any Zoom link from Meeting Bar (screenshot below)
* I get a strange "status" (screenshot below)

<img width="398" alt="Untitled1" src="https://user-images.githubusercontent.com/48932412/92961676-a5333380-f43d-11ea-82d

[2020-09-11 21:56] advicepyro opened #75 "Settings not persisting; welcome dialog appears on each launch"
**Describe the bug**
Since 1.4, on each launch of the app the welcome dialog appears. It also looks like settings don't persist after I quit the app; for example, my preference to show the dot or the event name in the menu bar.

**To Reproduce**
Steps to reproduce the behavior:
1. Launch the app and go through the welcome process
2. Go to preferences. Under the Appearance tab, change the show opti

[2020-09-12 12:51] #74 closed

[2020-09-12 12:53] leits commented on #75
Fixed in 1.5!

[2020-09-12 12:53] #75 closed

[2020-09-12 12:53] leits commented on #70
Fixed in 1.5!

[2020-09-12 12:53] #70 closed

[2020-09-13 15:42] oakif commented on #74
@leits the join next meeting is working now, thanks! I still have the arcane "Participant Status" string, although functionally it doesn't bother me. Thank you for the update.

[2020-09-13 17:34] Nainterceptor commented on #45
@Itaybre Hello, `https://domain-of-our-jitsi-server.tld/some-room-name`

[2020-09-14 07:05] leits commented on #74
Great!
Can you create an issue for Participant Status bug?

[2020-09-14 07:46] sweiland commented on #50
1.5 _maybe (hopefully)_ fixed the bug. I’ll keep you updated, but for now it seems to be working as expected.

[2020-09-14 11:08] leits commented on #59
@dev10110 , looks like I found the way:
`let url = URL(string: "ical://ekevent/\(identifier)")`

Try it when you'll have a time.

[2020-09-14 17:18] advicepyro commented on #75
@leits thanks for fixing the welcome dialog bug!

Did some testing and looks like the event title setting is the only one that does not persist after quitting the app; other settings are fine. I can open a new issue for this if you wish.

[2020-09-14 17:25] Itaybre commented on #57
@leits I am working on this

[2020-09-15 02:16] oakif opened #77 ""Participant Status" display bug"
**Describe the bug**
The participant status doesn't display correctly, as in the screenshot below:

<img width="398" alt="92961676-a5333380-f43d-11ea-82d0-b8b1ab47fc4f" src="https://user-images.githubusercontent.com/48932412/93157115-9667ad80-f6d7-11ea-8e16-7c662a89fc0c.png">

**To Reproduce**
Steps to reproduce the behavior:
This has been happening to me since I installed Meeting Bar.

**Expected

[2020-09-15 06:15] sweiland commented on #50
![image](https://user-images.githubusercontent.com/4283335/93172661-91344e00-f72b-11ea-93b2-6628e0f1804f.png)
unfortunately it got stuck again, too bad

[2020-09-16 12:17] fuzzy76 opened #78 "iOS/iPadOS version"
I would _really_ love an iOS/iPadOS version of this. A homescreen widget with this would be awesome.

[2020-09-16 12:39] dev10110 commented on #59
@leits  thats awesome!! and it works!

im just (very) new to Swift in general, and can't figure out how to pass the event identifier as an argument from `StatusBarItemController.swift` into `AppDelegate`. If you point me in the right direction I can try it again.

[2020-09-16 15:49] sn0wyfall commented on #68
@leits would this be possible 😇 is it as easy as changing a string in the code? Sorry I'm inexperienced with coding so I don't know how much effort it would entail, I figured it would be easy but I may be wrong!

[2020-09-17 08:00] #27 closed

[2020-09-18 16:27] #33 closed

[2020-09-18 16:29] leits commented on #33
The app in latest release (1.6) is notarized!
@crstauf @RubenSandwich @bitmanic @ChillyBwoy @cromulus @crstauf @zneak @nathanrobb @malps13 @hubie check it out!

[2020-09-18 16:31] crstauf commented on #33
@crstauf Thank you! Will install today!

[2020-09-18 16:31] crstauf commented on #33
@leits Thank you! Will install today!

[2020-09-21 05:56] dataf3l commented on #29
"Error: macOS Catalina or newer is required." I was heartbroken :(
I guess I'll have to upgrade...

[2020-09-21 08:43] madhur commented on #29
I would also love the Mojave version. Long time to go before I upgrade to Catalina

[2020-09-21 14:32] paul8620 commented on #62
How can I create my meetings by default in ringcentral

[2020-09-22 18:18] shadyabhi opened #81 "Limit calendar event title length via configuration"
**Describe the bug**
MeetingBar disappears if the calendar event title is too long.

**To Reproduce**
Steps to reproduce the behavior:
1. Open "MeetingBar"
2. Wait for an event where the title of event is too long to be shown in the bar.
3. Observe the "missing" MeetingBar.

**Expected behavior**
We can wrap the title to only show first "x" characters in case users have a lot of icons in the bar.

[2020-09-22 18:59] crstauf opened #82 "Update FAQ for "warnings from Apple""
[The FAQ](https://github.com/leits/MeetingBar/wiki/FAQ) may be slightly outdated ([the "warnings from Apple" section](https://github.com/leits/MeetingBar/wiki/FAQ#i-try-to-install-this-app-but-i-have-warnings-from-apple-and-cant-installopen)) after [version 1.6](https://github.com/leits/MeetingBar/releases/tag/v1.6) was released, which included signature and notarization from Apple.

[2020-09-22 20:44] Itaybre commented on #81
@shadyabhi You can already do that inside Preferences -> Appearance
![image](https://user-images.githubusercontent.com/860036/93935593-3d150500-fcfb-11ea-8e57-7e8cf1f5dfcd.png)

[2020-09-22 20:47] Itaybre opened #83 "Notification for updates"
**Is your feature request related to a problem? Please describe.**
As an user, I would like to always have the latest version of MeetingBar available.

**Describe the solution you'd like**
On each (or after x time) do a request to check if there is a newer version available.
If so, provide an auto update

[2020-09-22 20:53] shadyabhi commented on #81
@Itaybre  I feel really stupid for creating this issue. Thanks a lot, I'll go ahead and close this.

[2020-09-22 20:53] #81 closed

[2020-09-23 10:38] fuzzy76 opened #84 "Only show calendar events with recognized meetings?"
An option to show only meetings. Perhaps three settings:

1. Show all events
2. Show events with identified meeting service or a location set
3. Show events with identified meetings service

[2020-09-23 10:40] fuzzy76 commented on #55
Would #84 help?

[2020-09-25 01:11] BrandonSmith commented on #34
Seems this is available in latest release. Right?

[2020-09-25 02:15] Itaybre commented on #34
@BrandonSmith you are right, it was merged for 1.5

@leits please close this issue

[2020-09-25 06:52] leits commented on #34
Thanks, @BrandonSmith, @Itaybre. Closed.

[2020-09-25 06:52] #34 closed

[2020-09-28 18:31] leits commented on #67
Hi, @raivivek. Can you dublecheck? This feature works from the beginning, showing next meeting 10 minute before.)
https://github.com/leits/MeetingBar/blob/master/MeetingBar/EventStore.swift#L79

[2020-09-28 18:38] leits commented on #82
Thanks, updated!

[2020-09-28 18:38] #82 closed

[2020-09-29 21:59] shadyabhi commented on #50
Seeing similar behavior on 1.6 as well.

[2020-09-30 13:51] wayneashleyberry opened #85 "The application can't be opened. (Startup error)"
**Describe the bug**

I have installed Meeting Bar using homebrew, and it runs just fine. However, if I restart my machine or log out and back in I get a cryptic error message "The application can't be opened. -50".

I then have to open Meeting Bar manually, which works fine.

**To Reproduce**

Install Meeting Bar, enable "Launch at Login" and then log out and back in again.

**Expected behavior**

[2020-09-30 14:36] leits commented on #85
Thanks, @wayneashleyberry!

@jogendra , @Itaybre can you take a look at this issue?

[2020-09-30 14:38] leits commented on #55
@jaden-young, please, take a look on @fuzzy76 question

[2020-09-30 14:40] jogendra commented on #85
Hey @leits! Let me take a look.

Are you also facing the same issue? (and updated to latest version?) @leits @Itaybre

[2020-09-30 14:42] Itaybre commented on #85
Saw this today (I don't restart my machine frequently) but MeetingBar did open automatically

[2020-09-30 14:46] jogendra commented on #85
Most probably the reason would be the Development Team for the AutoLauncher is not set when you released (the bundle homebrew fomaula using). As I was not able to set (do not have paid membership). That would probably fix. If not, I will do my part.

[2020-09-30 15:11] leits commented on #85
@jogendra, Now the target has been signed and it happened earlier than the previous release.
https://github.com/leits/MeetingBar/compare/v1.6.1...master

[2020-09-30 15:17] jogendra commented on #85
@wayneashleyberry please update to latest version, `1.6.1`. It should fix your issue.

To update, run:

[code]

Still not get fixed, try running `brew reinstall meetingbar` after upgrading.

[2020-09-30 15:19] jogendra commented on #85
@leits we should also put/ask meetingbar version in issue templete. It will help us getting better idea, which version having the issue.

[2020-09-30 15:51] wayneashleyberry commented on #85
@jogendra tried both of those and still get the same issue. Removed it completely, did a cleanup, installed afresh and still the same. Pretty sure I was already running on `v1.6.1` as well 🤷

[2020-09-30 16:52] jaden-young commented on #55
I think #84 is a great/elegant solution to this issue! I'd say to close #55 and #56 in favor of #84. The remaining functionality provided by manually ignoring events would just be swept up by declining attendance.

[2020-10-01 16:09] raivivek commented on #67
Thanks, I see the 10 minute countdown now. Dunno why I didn't see it earlier.

[2020-10-01 16:09] #67 closed

[2020-10-01 18:54] axelson commented on #37
In a very similar vein it would be nice to add a script that would be run right before joining a meeting (I would use that to pause my music)

[2020-10-02 20:19] kidGodzilla opened #86 "Create Meetings in Outlook Web Access"
Enhancement: It would be neat to set "Create Meetings in" to "Outlook Web Access" (the official name for Outlook for the web).

Most corporate environments create meetings from Outlook or Outlook Web Access (instead of Teams). Many may not use Teams at all.

The URL to create a new meeting in Outlook Web Access is:

`https://outlook.office.com/calendar/deeplink/compose?popoutv2=1`

<img width="144

[2020-10-04 12:23] #77 closed

[2020-10-06 06:33] jogendra commented on #85
@wayneashleyberry oh so sorry to know that it didn't work. Let me look into this earliest.

[2020-10-07 12:49] jogendra commented on #85
Hey @leits @wayneashleyberry
I just figured out what causing the issue and fix to it. Problem was with previous implementation. Opening a PR for the fix, today only.

[2020-10-09 12:26] kidGodzilla commented on #86
Looks like `https://outlook.office365.com/calendar/0/action/compose` might be a better option for Office 365, with `https://outlook.live.com/calendar/0/action/compose` for Outlook (personal).

[2020-10-17 05:33] marcusziade commented on #85
I'm still getting this crash after updating to 1.6.1 😢

[2020-10-18 04:15] jogendra commented on #85
@marcusziade new release has not been made after the merging of PR above. Hopefully, it will be released soon. I am sure this will fix your issue.

[2020-10-21 09:43] egorf commented on #81
Hi @Itaybre!

When using a 13-inch laptop you don't really get much space in the top bar. An app like a browser with lots of menus in the top bar will most likely push MeetingBar out of view. To solve this, I need to make the max length really really small. However, I can't read the name of the meeting even when focused on an app that takes way less space in the top bar, like Finder. So I have to

[2020-10-21 13:39] chaseadam commented on #50
Is there a debug mode or verbose logging I can enable and post to help troubleshoot?

[2020-10-25 19:01] jasonhan-vassar opened #93 "Support for opening zoommtg:// URIs in Zoom?"
Hi, are there plans to be supporting zoommtg:// URIs in addition to zoom.us links? If not, could you please let me know why? Thanks!

[2020-10-27 07:08] marcusziade commented on #85
Any update on this?

[2020-11-03 10:10] stolowski opened #94 "Launch at Login config setting has no effect"
**App version**

1.6.1 (from App Store)

**Describe the bug**

I've the "Launch at Login" option ticked ON, but I've never seen MeetingBar after re-login/restart. I've to start it manually every time after login.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Preferences/General.
2. Enable "Launch at login"
3. Restart the system.
4. Log in; MeetingBar should be automatically started,

[2020-11-06 18:14] leits commented on #85
Sorry for the delay, guys!
Fixed version here and on homebrew available here and on homebrew:
https://github.com/leits/MeetingBar/releases/tag/v1.6.2
The AppStore version is on review.

[2020-11-09 16:04] scorgn commented on #62
Is there any way we could implement custom regex expressions? I think it would be a great way to support any type of meeting that might not otherwise be supported.

Another suggestion that would fix @paul8620's issue would be to let people implement a custom url for the "Create Meetings" functionality.

My specific scenario is that my email provider (Outlook) will provide "Safe Links" for the meet

[2020-11-10 22:15] tmchow opened #96 "Feature Request: Use a different style to display past meetings"
**Is your feature request related to a problem? Please describe.**
It can be hard to scan the list of past and upcoming meetings due to the use of the checkmark since the text is all the same style.

**Describe the solution you'd like**
Instead of a checkmark indicating a past meeting, I think it would work better to dim the row like how the "Next Meeting" product works.

[2020-11-11 12:22] AndreasBackx commented on #62
Would love to get support for Facebook Workplace, the format is as follows: `https://SUBDOMAIN.workplace.com/meet/MEETING_ID/`.

[2020-11-13 04:45] xdjuj opened #97 "Persistant notifications"
Hi! I'm using Meeter since a while, and really appreciate the fact that a free alternative (using by a part of my team) is existing.

I've had a try with MeetingBar and also remove Meeter! Till I notice that there was no persistant notifications and few more clicks to join the "next meeting" (which can be the "ongoing meeting" if you've 1min delay, a quite bit confusing but not a big deal).

In Me

[2020-11-20 16:26] #85 closed

[2020-11-20 16:27] leits commented on #94
The fixed version here and on homebrew available in AppStore, on homebrew and here:
https://github.com/leits/MeetingBar/releases/tag/v1.6.2

[2020-11-24 02:42] krabf opened #98 "Bug: 12hr Time Format not working"
App Version 1.6.2

I'm on macOS 10.15.7 and the 12-hour AM/PM time format is not working. Menu bar only shows the 24 hr.
https://ibb.co/jhm1B4K

[2020-11-24 09:17] leits commented on #98
![image](https://user-images.githubusercontent.com/12017826/100073756-93f7a180-2e46-11eb-957f-2e70fec121d0.png)

[2020-11-24 09:23] leits commented on #98
Hi, @krabf.
The status bar displays the time period before the meeting.
Time format applies only for a time moment, not time period.

[2020-11-24 09:23] #98 closed

[2020-11-24 19:34] leits commented on #37
Added possibility to run custom AppleScript in https://github.com/leits/MeetingBar/releases/tag/v2.0
@AndreasBackx @axelson @ivoleitao check it out!

[2020-11-24 19:34] #37 closed

[2020-11-24 19:34] leits commented on #45
Custom regexes added in https://github.com/leits/MeetingBar/releases/tag/v2.0
@Nainterceptor @Phill93 check it out!

[2020-11-24 19:34] #45 closed

[2020-11-24 19:36] leits commented on #86
Added in https://github.com/leits/MeetingBar/releases/tag/v2.0
@kidGodzilla check it out!

[2020-11-24 19:36] #86 closed

[2020-11-24 19:37] leits commented on #68
@sn0wyfall added in https://github.com/leits/MeetingBar/releases/tag/v2.0
Check it out!

[2020-11-24 19:37] #68 closed

[2020-11-24 19:38] leits commented on #59
@dev10110 added in https://github.com/leits/MeetingBar/releases/tag/v2.0.
Check it out!

[2020-11-24 19:38] #59 closed

[2020-11-26 20:00] denizongar opened #99 "Wrong margins in appearance tab"
**App version**
2.0.1

**Describe the bug**
Top and bottom margins for the appearance tab in the preferences window are off, resulting in top of the tabs being cut.

**To Reproduce**
1. Open preferences window.
2. Go to the appearance tab.

**Expected behavior**
Margins would be the same as the other tabs.

**Screenshots**
![Screenshot](https://user-images.githubusercontent.com/8755305/100388181-2

[2020-11-27 15:46] leits commented on #97
Thanks for the request @xdjuj !

[2020-11-27 15:48] leits commented on #97
@Itaybre, do you have any ideas on how to make an alert instead of a banner.
We already request alert style here: https://github.com/leits/MeetingBar/blob/master/MeetingBar/Notifications.swift#L15
And I can't find any other configuration for that.

[2020-11-27 19:04] Itaybre commented on #97
@leits I think it is possible to change the default alert style in with the key `NSUserNotificationAlertStyle ` inside Info.plist

[2020-11-27 19:05] Itaybre commented on #97
There are some issued in Debug, but should work in release: [see](https://stackoverflow.com/a/55320805/964212)

[2020-12-01 04:10] labtocat opened #101 "Bug: Menu bar icons shows all done even tho there are a lot of events."
**App version**
  2.0.2 (started to notice from 2.0.0)
**Describe the bug**
This can be noticed in a span of 2 days, once the calendar events are caught up for day one Icon changes to all done (as expected) and on the next day Icon still stays like done even tho events are fetched for next day.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'MeetingBar'
2. Click on 'preferences -> sho

[2020-12-01 14:23] crstauf opened #102 "Bug: Double menu bar icons"
**App version**
2.0.4

**Describe the bug**
Two icons overlapping in menu bar.

**To Reproduce**
Steps to reproduce the behavior:
1. Close menu bar
2. Update to version 2.0.4
3. Start MeetingBar
4. See double icons in menu bar

**Expected behavior**
Not double icons in menu bar.

**Screenshots**
<img width="37" alt="Screen Shot 2020-12-01 at 9 21 11 AM" src="https://user-images.githubusercontent.c

[2020-12-01 16:46] crstauf commented on #102
Confirmed fixed 9abc21b62125cfb03e5a71b86f2d86ae1fe59027.

[2020-12-01 16:46] #102 closed

[2020-12-02 10:24] leits commented on #101
@labtocat ,  fixed in the latest version. Check it out!

[2020-12-02 10:24] #101 closed

[2020-12-03 09:13] 0bmxa opened #103 "Feature Request: (Option to) Hide meetings with no other participants"
**Is your feature request related to a problem? Please describe.**
I have a bunch of meetings in my calendar, that are just blockers or tasks for myself, which are not "real meetings". They all show up in the list, and are a bit distracting from the actual meetings I have with others.

**Describe the solution you'd like**
Hide meetings that have no other participants from the list.

Ideally not by

[2020-12-03 09:53] 0bmxa commented on #103
I'm also happy to implement this feature myself, but I first wanted to check if there's any interest in this by anyone else, or if anything could be done differently!

[2020-12-07 08:40] melgu opened #104 "Bug: App Icon is too big compared to other Big Sur Icons"
**App version**
2.0.5

**Describe the bug**
The Icon is much bigger than the standard Big Sur icon size and therefore seems a bit out-of-place.

**To Reproduce**
Steps to reproduce the behavior:
1. Download the app

**Expected behavior**
The icon has the same size as other icons on Big Sur

**Screenshots**
<img width="568" alt="Bildschirmfoto 2020-12-07 um 09 36 27" src="https://user-images.github

[2020-12-09 08:23] xeroxoid opened #105 "Allow account selection for new Google Meet meetings"
**Is your feature request related to a problem? Please describe.**
When creating a new meeting with Google meet it always selects the default Google account that is signed in in the browser.
This happens even if only one Google account is active in the Calendar preferences.

**Describe the solution you'd like**
Adding an option to select which account to use for new Google Meet meetings (code need

[2020-12-09 09:42] durdevic opened #106 "Bug: Big Sur 11.0.1 doesn't show notifications"
**App version**
v2.0.5

**Describe the bug**
It just doesn't show notifications any longer on macOS 11.0.1. I have the app on the macOS 10.15.7 and there it works well

I don't know if this is only me cuz I couldn't find any other issue regarding this.

[2020-12-14 13:32] durdevic commented on #106
Sorry, somehow "Do Not Disturb" got  turned on, thus I haven't received any notifications -.-

Some BigSur points are not the best. Notifications in general additionally.

[2020-12-14 13:32] #106 closed

[2020-12-19 23:25] sn0wyfall commented on #68
Awesome! Thanks a ton mate.

[2020-12-28 15:14] SanderGit opened #114 "Feature request: Add pref to hide all-day meetings"
**Is your feature request related to a problem? Please describe.**
I don't have to be reminded that I have a holiday for the next 4 hours and 46 minutes.

**Describe the solution you'd like**
Add a preference to hide all-day events.

**Describe alternatives you've considered**
I cannot really think of an alternative.

[2021-01-05 12:45] jgoldhammer commented on #114
Hi SanderGit,

this is possible with the changes in HEAD.

![image](https://user-images.githubusercontent.com/3872101/103647830-3170e580-4f5c-11eb-9994-593b42230387.png)

Just wait for the next release :-)

[2021-01-05 12:46] jgoldhammer commented on #103
This is merged now 🎉

[2021-01-05 12:49] jgoldhammer commented on #96
Hi Trevin,

something like this?

![image](https://user-images.githubusercontent.com/3872101/103648168-b52ad200-4f5c-11eb-85ce-bd59c5f5d48b.png)

We have removed the checkmark...

[2021-01-05 12:53] jgoldhammer commented on #84
I had implemented this and removed in the end. The risk is very high that you miss a meeting because we do not recognize a meeting service and you will not notice it. What do you think?

[2021-01-05 12:56] jgoldhammer commented on #93
Can you elaborate a little bit more? Are these zoommtg:// uris in your calendar events? Currently only https-links of zoom are recognized, but this can be easily enhanced...

[2021-01-05 13:27] jgoldhammer commented on #57
This is now possible with the unreleased version of meetingbar.

![image](https://user-images.githubusercontent.com/3872101/103651551-143f1580-4f62-11eb-8f08-b8cd4b551ffd.png)
![image](https://user-images.githubusercontent.com/3872101/103651602-291ba900-4f62-11eb-8dbc-ebde2ba3ddf4.png)

[2021-01-05 13:29] jgoldhammer commented on #29
I am sorry- we have to close this issue. The effort supporting older versions is too high because SwiftUI will not be ported to older versions from Apple. Very sorry!

[2021-01-05 13:29] #29 closed

[2021-01-05 15:06] bberenberg commented on #30
I think that would make the most sense.

[2021-01-05 16:01] jgoldhammer commented on #30
@leits - what do you think? How to track wich event was started already to avoid multiple starts? List of event ids in user defaults?

 When exactly should the event be launched? Two or one minute before or exactly the start of the event? Some meeting services load 20 or more seconds...

[2021-01-05 16:15] jgoldhammer commented on #50
@sweiland , @chaseadam and @shadyabhi : Does this still happen with version 2.0.5?

From the comments I see that this happens under Catalina and Big Sur as well. I have never noticed that and I have used it the last two weeks. @leits, have you changed between version 1.6 and version 2.0 something regarding schedule of title update?

[2021-01-05 16:21] bberenberg commented on #30
Those are great questions @jgoldhammer

They made me think that maybe the question is less

but rather

Depending on the outcome of this across supported meeting applications, you can then decide whether you want to do it a bit earlier, or exactly at the cutover time.

[2021-01-05 17:26] jgoldhammer commented on #30
Very good answer!
Some meeting applications will ask to end the other meeting, especially teams popups the meeting and the user has to manually click to end the other meeting. I guess this is not true for the whole list.

We could add a second statusbar item with a countdown to launch the next meeting which could be stopped or delayed by the user :-)

[2021-01-05 17:38] bberenberg commented on #30
I am not very good with UI design and won't try and suggest the visual solution to this challenge. However I think the practical first step may be to document the interrupt behavior of each supported conferencing solution.

[2021-01-05 18:36] tmchow commented on #96
@jgoldhammer yes! that would help immensely by making the list easier to scan for current+future mtgs vs past mtgs.

[2021-01-05 19:59] jgoldhammer commented on #105
Nice idea to have a custom url input field. I guess this is the most flexible solution for this, instead of building solutions for each meeting service.

[2021-01-05 20:00] jgoldhammer commented on #104
What do you think @leits? Do you have the possibility to check that? I am still on Catalina on both macbooks...

[2021-01-05 20:02] jgoldhammer commented on #99
@denizongar - can you check that on version 2.0.5 and report back if this version fixes it? If not, we will check that for release 3.0

[2021-01-05 20:10] jgoldhammer commented on #96
Thanks for your answer. We will release this as feature for the upcoming 3.0 release. 🎉

[2021-01-05 20:13] jgoldhammer commented on #83
It is worth to have this? We could use Sparkle and provide the updates via github, but there are tools like homebrew which automatically update your tools. (maybe not everybody is using it?). What do you think @leits?

Sparkle 2.0 (currently beta) can also update sandboxed apps. (see https://github.com/sparkle-project/Sparkle/tree/2.x)

[2021-01-05 20:20] jgoldhammer commented on #72
If it is not possible for sandboxed apps, how to release a version as unsandboxed apps with do-not-disturb control for homebrew/self installation and a sandboxed app without do-not-disturb control for the appstore?

[2021-01-05 20:23] jgoldhammer commented on #52
Which kind of links are you refering @antkiselev? Links in the event notes, location or somewhere else? I think we could collect up to 5-7 links from the calendar event and create extra menu entries for them to be clickable. Will that work for you?

By the way, Skype for Business is supported. Or do you have any url for us which is not working for you?

[2021-01-05 21:23] jgoldhammer commented on #62
@paul8620 - we will implement that in https://github.com/leits/MeetingBar/issues/105

[2021-01-05 21:24] jgoldhammer commented on #62
@ZNielsen : the links for aws chime should be handled correctly now. Can you confirm?

[2021-01-05 21:30] ZNielsen commented on #62
Confirmed, join next event meeting works with amazon chime.

[2021-01-05 21:41] denizongar commented on #99
@jgoldhammer Currently on version 2.0.5 and problem still persists.

[2021-01-06 00:33] dataf3l commented on #29
It's OK, we forgive you

[2021-01-06 08:25] fuzzy76 commented on #84
You could default it to option 1 and put some kind of warning on it?

[2021-01-06 08:26] fuzzy76 commented on #84
The alternative is revisiting #55

[2021-01-06 09:19] jgoldhammer commented on #84
#55 only works for repeating events AFAIK. I have tested it and it needs more work on my eyes...

[2021-01-06 19:50] jgoldhammer commented on #50
@sweiland , @chaseadam  and @shadyabhi : Any input for us here? If we do not get any response, I have to close the issue. You are free to reopen it. Thanks.

[2021-01-06 19:53] jgoldhammer commented on #52
Any input @antkiselev ? What do you think @leits ?

[2021-01-06 19:53] shadyabhi commented on #50
@jgoldhammer  Not seeing any issue so far in 2.0.5 which I updated on Jan 4. Since, it's been only 3 days of me using it, in this limited time, I've not seen this issue.

[2021-01-06 20:20] jgoldhammer commented on #97
I have tried with the repo https://github.com/lukakerr/Swift-NSUserNotificationPrivate.
At start of the application, macos asks me if the app can send notifications. After clicking on allow, following entry was created in the notification settings.

![image](https://user-images.githubusercontent.com/3872101/103815483-b692f200-5063-11eb-9894-3c8e29153960.png)

The difference is that the code in the

[2021-01-07 16:37] jgoldhammer commented on #50
Thanks for the answer. Ok, I will close the Ticket for now...

[2021-01-07 16:37] #50 closed

[2021-01-07 16:46] jgoldhammer commented on #97
I have played a little bit with it. I think, the old, deprecated api was more reliable to set the correct settings for a new app.
As an app cannot change its own notificationsettings, but reading them, we can display a warning for the user, when the user will enable notifications and the settings are not as expected.

There are two situations which will be detected:
- the user has completely switc

[2021-01-07 21:01] jgoldhammer commented on #72
@Itaybre  - any idea how to introduce this, so that the app still can be published to the appstore?

[2021-01-07 21:02] jgoldhammer commented on #93
@jasonhan-vassar - I will close the ticket for now. You can reopen it with more information. Thanks!

[2021-01-07 21:11] Itaybre commented on #72
@jgoldhammer I guess we could ask for the user to set a Keyboard Command to toggle DND and then use a script to enable it, like [this](https://apple.stackexchange.com/a/145491)
I can try this approach later tonight

[2021-01-07 21:20] jgoldhammer commented on #72
Thanks! Maybe we can integrate it into the apple script which gets executed when we join a meeting...

On the other side- activating and deactivating DND is one click away (Hold OPTION and click on the notification center in the menubar)...

[2021-01-07 21:53] jasonhan-vassar commented on #93
Sorry for not getting back sooner — they are in the URL field of my calendar event.

[2021-01-07 22:51] jgoldhammer commented on #97
The notifications are correctly set- a little hint for the user that everything is ok...
![image](https://user-images.githubusercontent.com/3872101/103952598-fb408b00-5140-11eb-9fee-5e1e9ce295de.png)

The user has deactivated the notifications
![image](https://user-images.githubusercontent.com/3872101/103952675-17442c80-5141-11eb-86e2-dcec3b5e6920.png)

The user has not set the alert style
![image

[2021-01-07 23:43] jgoldhammer commented on #93
🎉 zoommtg-links are now recognized as valid zoom link and will be opened directly in the zoom app.
For more details, see the attached merge request.

[2021-01-07 23:46] jgoldhammer commented on #52
I will close the ticket for now. Feel free to reopen @antkiselev . Thanks

[2021-01-07 23:46] #52 closed

[2021-01-08 04:44] Itaybre commented on #72
@jgoldhammer Tried it but it won't work this way, you cannot trigger System Events from a sandbox app.

But, using a user supplied script may work, but will require an extra step for the user, to download and save an AppleScript

[2021-01-08 05:09] Itaybre commented on #72
Also tried Accesibility API, but it won't work inside a sandbox

[2021-01-08 06:49] antkiselev commented on #52
Hi @jgoldhammer. Thank you for your contribution!
I submitted the request when Skype For Business was not supported by "Join next meeting" functionality yet. Now it works, it grabs the link from the Notes and Location fields.
But it would be still useful to have the same links to be clickable in the submenu. Besides that it would be great to open the event in the calendar by clicking event header,

[2021-01-08 07:36] leits opened #140 "Bug: Chromium feature backward incompatibility"
**App version**
Unreleased 3.0

**Describe the bug**
Chromium feature (#109) implemented without backward compatibility

Need to migrate users from boolean useChromeForMeetLinks to select with enum.

[2021-01-08 08:26] leits opened #141 "Match string.truc feature with trimming feature"
Need to match [String.swift](https://github.com/leits/MeetingBar/blob/master/MeetingBar/String.swift) extention with #115.

[2021-01-08 08:26] leits commented on #141
@jgoldhammer, can you look?

[2021-01-08 09:27] leits commented on #104
Me too, @jgoldhammer. But I have an icon with margins from the author. As soon as I have a chance, I'll try to fix it.

[2021-01-08 09:36] leits commented on #83
This was very relevant when the application could only be installed manually.

Now the average user installs it through AppStore. A user with deeper technical knowledge can use homebrew.
Both have internal mechanisms for updating the program.
Manual installation remains as part of homebrew integration (requires dmg public link).

We work very carefully with user data.
Therefore, I do not think tha

[2021-01-08 09:36] #83 closed

[2021-01-08 09:40] leits commented on #99
@jgoldhammer, I guess, and saw confirmation of this on Twitter, that SwiftUI has bugs with rendering in Catalina.
It's possible that there will be no such problems after the SwiftUI update.

[2021-01-08 10:06] #93 closed

[2021-01-08 10:10] jgoldhammer commented on #99
But is not catalina, it is Big Sur. In the original issue the macos version is 11.x

[2021-01-08 10:13] leits commented on #99
Sorry, I mean Big Sure, not Catalina.)

[2021-01-08 10:13] #97 closed

[2021-01-08 11:22] leits opened #142 "Reorganize views"
Currently, we have two large modules for views: `PreferencesView` and `OnboardingView`. Where the second have dependencies on the first one.
Need to reorganize views into a separate folder with small modules.

[2021-01-08 15:58] jgoldhammer commented on #84
WDYT @leits ? Should I reintroduce the functionality?

[2021-01-08 16:36] leits commented on #84
I'm not sure this change will be more useful than dangerous.
So let's pause it and postpone the discussion to the next iteration.

[2021-01-08 19:01] jgoldhammer commented on #84
Maybe we should scan for any link in the event... it is ok to postpone it

[2021-01-10 20:35] jgoldhammer commented on #55
We will close this feature requests as suggested by @jaden-young and will follow #84 . Thanks!

[2021-01-10 20:35] #55 closed

[2021-01-10 21:33] jgoldhammer commented on #72
@leits - would this be a good way to go with a user supplied script?  Should we really change settings automatically when a meeting begins or ends? If so, should we introduce notifications so that we show what will happen? Or should we offer options in the menu of the app to activate or deactivate dnd?

[2021-01-11 08:31] leits commented on #72
I think this feature is difficult to implement and possible bugs in it will be a terrible experience.

The user already has the ability to run scripts at the beginning of the meeting. Thanks to this, the advanced user can implement this functionality independently, taking all the risks.

So, in summary, there is no simple or even correct method of implementation, and the user has a workaround to h

[2021-01-11 08:31] #72 closed

[2021-01-12 08:58] MrBeardedGuy opened #145 "💪 [Feature] UX improvements to help spot upcoming meetings ahead of time"
Kudos to all the talented people working on this great app. 🎉
I wanted to suggest an improvement. Please do let me know your thoughts.

**Main UX issue**
Users with busy calendars rely on Meeting Bar to know if they have to prepare for the next upcoming meeting. When meetings are overlapping it's a bit trickier knowing exactly what's the next meeting and when it will be.

In a scenario like the on

[2021-01-12 11:07] jgoldhammer commented on #145
Thanks for your idea @MrBeardedGuy !

I like the idea, but honestly I also like to see how much time I have in the current meeting.

I have started to think about that a few days ago and thought about a UX to have both. It is not so easy with the possibilities of the macos menus to display both.
I can image that it makes sense to have 2 lines in the status menu - one line displays the next meeting

[2021-01-12 11:44] 0bmxa commented on #103
I'll close this as its merged now!

[2021-01-12 11:44] #103 closed

[2021-01-12 17:00] leits commented on #145
Interesting idea, @jgoldhammer!
But I think you're right, this accumulation may be too heavy.

We are now showing the countdown to the next meeting 15 minutes before. @MrBeardedGuy, how do you think, 30 minutes will be enough?

[2021-01-12 20:14] jgoldhammer commented on #145
Maybe this should be configurable by the user? 30 minutes would be too much for me ...

[2021-01-13 08:50] Rabattkarte opened #146 "Feature: Do not display events without meeting details"
**Is your feature request related to a problem? Please describe.**

I'm wondering what the main goal of this app should be. I like the idea of a meeting aggregator! Right now I see appointments of which I am the only member as well. This is mostly not needed and also there is no meeting information added to those appointments. E. g. a half-day off blocker in my calendar.

**Describe the solution y

[2021-01-13 08:50] Rabattkarte opened #147 "Feature: Do not display events without meeting details"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-01-13 08:51] Rabattkarte commented on #147
Somehow two Feature Request were opened, this is a buggy duplicate of #146.

[2021-01-13 08:51] #147 closed

[2021-01-13 08:56] Rabattkarte commented on #114
Maybe this relates to my feature request #146?

[2021-01-13 09:30] jgoldhammer commented on #146
There is also #103 - it will be part of next release. Will that help you? If yes, we can close this Ticket...

[2021-01-13 09:32] Rabattkarte commented on #146
Perfectly, yes, I did not see that closed issue. Sorry for the inconvenience.

[2021-01-13 09:32] #146 closed

[2021-01-13 12:22] MrBeardedGuy commented on #145
I personally would just love to see right away what's the next upcoming meeting. But that's me.
An arbitrary number (15min or 30min) might be too little or too much (as @jgoldhammer mentioned previously).

I like @jgoldhammer's idea to have a use-facing setting to control this value.

[2021-01-13 12:29] leits commented on #145
Or what about the explicit option "show current meeting", disabling which will automatically show only the following?

[2021-01-13 16:16] MrBeardedGuy commented on #145
Yeah that works too.

[2021-01-13 18:15] jgoldhammer commented on #145
Summary:
* setting "show current meeting" has two options and influences the status bar menu entry only (the menu entries are not affected)
   * option 1 (true) always shows the current meeting and switches to the next meeting 15 minutes before
   * option 2 (false) always shows the next meeting regardless how long the current meeting takes and how long the current meeting is already running. Ther

[2021-01-13 20:15] #142 closed

[2021-01-14 21:32] shadyabhi opened #148 "Feature: Run AppleScript when meeting starts"
**Is your feature request related to a problem? Please describe.**
I have a huge monitor and I sometimes miss seeing the notification on the top-right about the start of the meeting. I'm looking for an alternative way of alerting myself.

**Describe the solution you'd like**
Just like we've custom AppleScript support when joining the meeting, it would be nice to have a similar feature when the mee

[2021-01-14 21:37] jgoldhammer commented on #148
Hi @shadyabhi ,

thanks for your suggestion.
Thinking about that - when exactly should the applescript be executed? Exactly on time, 3 minutes before or the same time like the notification?

Besides that do you think it is necessary to have variables available for meeting name and meeting url in the apple script runtime?

[2021-01-14 22:04] jgoldhammer commented on #148
Some internal notes:

- Passing parameters into apple scripts via NSUserAppleScriptTask:
https://stackoverflow.com/questions/8917050/passing-variables-to-an-applescript

- Everything about the sandbox scripting:
https://www.objc.io/issues/14-mac/sandbox-scripting/

[2021-01-14 22:59] shadyabhi commented on #148
@jgoldhammer  Thank you for a quick response. Since this is about "when the meeting starts", I understand that it wouldn't be possible to run the script in advance, say, "2 minutes before the meeting starts". This way, we keep the implementation easy as well? (at least version 1)

It would be nice to have the variables to make it future proof. If this feature existed today, I would have just creat

[2021-01-15 09:29] #105 closed

[2021-01-15 11:26] afds opened #149 "Bug: Unable to join Zoom meeting with password"
**App version**
2.0.5

**Describe the bug**
Unable to join Zoom meeting with password.

**To Reproduce**
Create a meeting in Google Calendar with Chrome Zoom plugin.
This is what inside when I open that event in Calendar app:
[code]

**Expected behavior**
Joined the meeting.

**Desktop (please complete the following information):**
 - macOS version: 10.15.7

**Additional context**
The problem seem

[2021-01-15 13:15] jgoldhammer commented on #149
I think we could use the provided regex from @afds. What do you think @leits ?

[2021-01-15 13:29] leits commented on #149
Yeah, I'll update our regex.
Thanks, @afds!

[2021-01-15 13:51] jgoldhammer commented on #148
WDYT @leits ? Should we invest here?

[2021-01-15 14:11] leits commented on #148
I think that is a very interesting idea.
I even found [how](https://stackoverflow.com/a/52544705/7540638)  to send script variables the way we run it.

The hardest aspect here is to run this action only once at the right time.
Taking into account the corner cases: change of the next meeting, a short time between the beginning of two meetings, all-day meetings.

[2021-01-15 14:58] jgoldhammer commented on #148
I think we should think big, but start small.

- We could schedule apple script for events like the notifications with a timer. We could reuse the time option when the notification is send...
- We could not run for allday events.
- We could pass title, start date, url and maybe the event id as arguments

What a user will do is more or less on its own?

[2021-01-15 14:59] jgoldhammer commented on #145
How to proceed here @leits ?

[2021-01-15 15:00] hunleyd opened #150 "Feature: option to only notify on mtgs I've accepted"
It would be nice if there was a toggle in the UI to notify about meetings that have not been accepted. It could default to on, to preserve the existing behavior, but those of us who do not want to be reminded of a meeting we haven't accepted can toggle it off. It's probably a corner case, but sometimes I don't want to commit to accepting/declining a mtg so I leave it unanswered ;)

[2021-01-15 15:04] leits commented on #148
Make sense. Would this first version meet your needs, @shadyabhi?

[2021-01-15 15:06] leits commented on #145
I need some time to think about it, @jgoldhammer.

[2021-01-15 15:58] shadyabhi commented on #148
@leits @jgoldhammer This sounds perfect as a start.

Instead of not running for allday events, how about providing that information in the variable as well? Let's say, "meeting_type/meeting_duration". I don't know implementation details to know what would be the right variable to send.

Assuming allday events start at 0000 hours, we can keep all events uniform, implementation wise. If users don't

[2021-01-15 20:24] jgoldhammer commented on #150
Hi @hunleyd - I understand your request. I will check the code if this is possible easily...

[2021-01-15 22:28] leits commented on #62
Propose new services in [Discussion](https://github.com/leits/MeetingBar/discussions/108)!

[2021-01-15 22:28] #62 closed

[2021-01-16 21:11] jgoldhammer commented on #150
What do you think @hunleyd - should these pending events be displayed in the status bar and menu, but no notifications should be send?

[2021-01-16 21:17] hunleyd commented on #150
I would think if you choose to not be notified you wouldn't want to see it either

[2021-01-16 21:31] jgoldhammer commented on #150
Ok, I have developed a first version of this feature.

I have introduced a new setting "Pending events":
- all show options will display the event and trigger the notification
- hide option will hide pending events completely from the statusbar, menu and does not trigger a notification

![image](https://user-images.githubusercontent.com/3872101/104823402-164e8180-584a-11eb-89bd-5b6be7ba2e08.png)

[2021-01-16 22:16] hunleyd commented on #150
That sounds great!

[2021-01-17 13:54] jgoldhammer commented on #148
The problem with allday events is that we should not trigger them multiple times. Imagine that you have to restart your mac or you restart meetingbar on the same day . In this case we do not know which allday event was already triggered or not... thinking more about that we have to persist the state in the user settings and have to cleanup after some period.

What about appointments over several d

[2021-01-18 14:16] leits commented on #141
@jgoldhammer please, take a look)

[2021-01-18 14:23] #140 closed

[2021-01-18 21:54] leits opened #153 "Store app version"

[2021-01-19 14:43] #153 closed

[2021-01-19 14:44] leits opened #154 "What's new window after app update"

[2021-01-19 16:40] jgoldhammer commented on #148
I have started with it and made some progress with it (handling parameter works), but I would shift this to a next release. I think, everybody is waiting for 3.0, so I will schedule this ticket for 3.1

[2021-01-19 16:41] jgoldhammer commented on #145
I think, we need more time here, so I will assign it to our backlog.

[2021-01-21 21:16] jgoldhammer commented on #141
Due to lack of time could you have a look?

[2021-01-21 21:18] #150 closed

[2021-01-21 22:21] #141 closed

[2021-01-23 15:16] antifuchs opened #158 "Feature: Integrate with google calendar directly?"
**Is your feature request related to a problem? Please describe.**

One of the main problems I (and my colleagues with 4000+ events on their calendars) have is that the macOS calendar sync tool with google calendar is _extremely_ resource-hungry. The sync process (CalendarAgent) regularly takes 100+% CPU for several seconds, every sync interval. [Workarounds](https://robert.accettura.com/blog/2012

[2021-01-23 15:17] antifuchs commented on #158
(I realize that this is a very narrowly-focused feature & that people use multiple other calendar providers. It's just that in our 3000+ person org, it seems everyone is suffering from how bad the built-into-macOS<->google calendar integration is, and it does seem like one of the most popular "groupware" tools out there)

[2021-01-23 20:56] jgoldhammer commented on #158
I can completely understand this feature request. To be honest, the effort for such an integration is very high. On the other side there are other calendar services like M365, iCloud and more - what about them? I guess, we would accept a PR with such a big feature, but it would take a lot of time to bring this changes into the code because the code currently highly depends on the macos calendar ap

[2021-01-23 21:21] jgoldhammer commented on #154
Do you know yet how to implement it? Do you want to access the changelog from github directly? Or do you want to integrate the whats new content into the app?

[2021-01-25 13:02] leits opened #160 "Feature (advanced): Custom template for menu item"
Allow advanced users to generate menu item in their own format from event details:

as example:
`{startTime} ({startTime - endTime}) - {title} ({attendess.count})`

⭐  feature request from @dentalala

[2021-01-25 17:10] eripa opened #161 "Feature: support for additional browsers"
**Is your feature request related to a problem? Please describe.**

I use Brave only for Google Meets (Safari for everything else), and I was hoping to use MeetingBar to launch Brave for meetings. Unfortunately it doesn't seem to support anything other than Chrome. I would love to see additional browser support.

**Describe the solution you'd like**

Add additional browser support for launching in

[2021-01-25 18:50] blixt opened #162 "Feature: Allow specifying the authuser when creating Google Meet meeting"
**Is your feature request related to a problem? Please describe.**
I don't use the "Create Meeting" keyboard shortcut because it uses the wrong Google account and it takes more time to switch account than it does to just create a bookmark.

**Describe the solution you'd like**
Allow me to somehow specify the `authuser` parameter (my email) somehow when opening the "Create Meeting" link.

**Describ

[2021-01-25 19:37] jgoldhammer commented on #162
Hi,

this will be part of 3.0 release and is implemented in https://github.com/leits/MeetingBar/issues/105 .
With the new feature you can use your own custom url which will be opened.

I will close this ticket now. If you think this will not fix it, please open it.

Thanks
Jens

[2021-01-25 19:37] #162 closed

[2021-01-25 19:45] jgoldhammer commented on #161
Thanks for your feature request. Do you want to help us and contribute via pull request?
If not, we will schedule it for a later time after release 3.0

[2021-01-25 19:50] jgoldhammer commented on #160
Really nice idea.

But I have thought more about it- I am still not sure if it is worth to develop it. What are additional elements a user want to see?

- Location and URL are mostly too long (when these are urls)
- the attendee count is nice, but adds no real value

If you offer this, users should also be able to trim the elements, e.g. the title with a special syntax.
One advantage would be real

[2021-01-26 14:33] nevadascout opened #164 "Bug: Can't open specific zoom url"
Often, my company puts the meeting location as a physical Room and then puts a zoom or teams meeting link in the event description. MeetingBar seems to be unable to detect these meeting links.

Can MeetingBar search in the event description for meeting links?

(We am using Exchange-based email)

[2021-01-26 14:36] hisaac commented on #164
Seconded, this would be great.

[2021-01-26 14:41] leits commented on #164
Hi, @nevadascout, @nevadascout!
MeetingBar is already searching for a meeting link in this event description.
But search regexes may not be perfect.
Can you give an example of a description so I can check what's going wrong with parsing link?

[2021-01-26 14:50] nevadascout commented on #164
Interesting... So I've created a meeting in outlook and set the location to be the text "zoom" then in the event description I've added `https://example.zoom.us/my/nevada.scout` and when I click the meeting link in MeetingBar I get a notification that it can't find the link.

This link seems to fail on the regex `https:\/\/(?:[a-z0-9-.]+)?zoom.(?:us|com.cn)\/j\/[0-9a-zA-Z?=]*` that you have in you

[2021-01-26 14:52] nevadascout commented on #164
Also interestingly, if I add this regex to MeetingBar it still says that it can't find the link... ¯\\_(ツ)_/¯

[2021-01-26 17:18] leits commented on #164
Thanks for your research, @nevadascout!
I'll try to debug the app with this case and write back the results.

[2021-01-27 20:54] #161 closed

[2021-01-27 22:26] jgoldhammer commented on #148
You can find my first version in the attached PR.
What do you think, @leits ?

[2021-01-27 22:41] jgoldhammer opened #167 "Feature: Support additional browsers using a custom app path"
**Is your feature request related to a problem? Please describe.**

Advanced users will use special versions of browsers (like the dev or beta version) or browser which are not very common. The current browser selection only enables to use predefined browsers - the user cannot determine custom browsers like ms edge dev or chrome canary version.

Out of scope are arguments because arguments for app

[2021-01-27 23:02] jgoldhammer commented on #167
What do you think, @leits ?

[2021-01-28 12:18] leits commented on #167
I think it's a good idea!

[2021-01-28 18:03] antifuchs commented on #158
Agreed with your assessment - it would be a lot of work, and it would mean everyone on other calendar systems would continue to suffer (if they suffer at all - I don't know if M365 and iCloud calendars have the same syncing issue as google calendar does! That would be a very interesting thing to investigate.)

[2021-01-29 16:55] leits commented on #158
I tried to understand more about calendar synchronization. Found the possibility of synchronization through the CalDAV protocol.

Here is a little bit outdated guide on how to integrate GCalendar with iOS (macOS has very similar options) using CalDav:
http://oac.med.jhmi.edu/ittutorial/IT_Navigation/SyncIcalGoogle.pdf
@antifuchs, can you try it?

[2021-01-29 22:17] dentalala commented on #160
📹 • 14:30

[2021-02-01 08:04] iwan-uschka opened #168 "Bug: remove "cask" from brew install cmd"
Check out the readme. It tells us to execute `brew cask install meetingbar` but at least my machine running `brew@2.7.7` it should be `brew install meetingbar`.

Just mentioning. Don't have time to make a PR ;)

[2021-02-01 08:13] jgoldhammer commented on #168
Hi Iwan,

we have following in the readme:

![image](https://user-images.githubusercontent.com/3872101/106431510-a8bb6b80-646d-11eb-9b71-7fcba6ddd4d1.png)

This syntax is also correct, altthough brew install meetingbar is also working.
I will close the ticket for now.

Thanks

[2021-02-01 08:13] #168 closed

[2021-02-01 08:17] iwan-uschka commented on #168
You're absolutely right. I read what i "wanted" to read and missed `--` somehow. Didn't know the option `--cask` before. Thanks for teaching me that :)

[2021-02-01 08:18] iwan-uschka commented on #168
Great app btw 👍

[2021-02-02 14:17] joshuarudd commented on #167
💯

[2021-02-06 17:33] sathran opened #170 "Feature: select notification sound from system alert sounds (default to system alert sound)"
**Is your feature request related to a problem? Please describe.**
The current notification sound is not driven by the OS settings, and is not alterable.

**Describe the solution you'd like**
An ideal scenario, in my perspective:
When that I am in General settings
Then I have a way to change the sound used for notifications, from the system sound effect list
And the default setting should be "syst

[2021-02-07 20:51] leits commented on #57
@advicepyro released! Check it out!

[2021-02-07 20:51] #57 closed

[2021-02-07 20:52] leits commented on #96
@tmchow,  released! Check it out!

[2021-02-07 20:52] #96 closed

[2021-02-07 20:52] leits commented on #99
@denizongar, please, check it for the new 3.0.

[2021-02-07 20:57] leits commented on #104
@melgu, released! Check it out!

[2021-02-07 20:57] #104 closed

[2021-02-07 20:58] leits commented on #114
@SanderGit, @Rabattkarte, released! Check it out!

[2021-02-07 20:58] #114 closed

[2021-02-07 20:58] leits commented on #149
@afds, released! Check it out!

[2021-02-07 20:58] #149 closed

[2021-02-08 11:18] nevadascout opened #171 "Bug: Issues with service icons (Big Sur issue?)"
App version 3.0.0.
macOS version: Big Sur 11.1

When I go to the dropdown menu in the app settings to change the icon this is what happens:

(Interestingly, all of the icons display correctly in the menu bar)

https://user-images.githubusercontent.com/377089/107212668-95794480-6a07-11eb-87fc-6cd898414c73.mov

[2021-02-08 11:26] leits commented on #171
Thanks for the report, @nevadascout!
I'll fix this soon!
@jgoldhammer, jfyi

[2021-02-08 11:27] nevadascout commented on #164
In v3.0.0 of MeetingBar when I click a meeting with one of these links it no longer gives a warning that the link isn't supported; it now opens the zoom app, but doesn't join the meeting

[2021-02-08 14:00] Techneaux opened #172 "Bug: Text alignment issue in menu while in 12 hr time"
In meetingbar 3.0.0, there is an issue with text alignment in the menu for one of my meetings today.

![image](https://user-images.githubusercontent.com/8344081/107229255-31dd2000-69e3-11eb-8fc3-2b48a95d1332.png)

As shown in the image, most of the meetings look great but that 11 AM - 12 PM workout meeting has incorrect alignment for the 12PM end date.

If I turn off in settings the end time and i

[2021-02-08 17:22] leits commented on #172
Thanks for the report, @Techneaux!

[2021-02-08 17:27] leits commented on #172
Can't reproduce locally. @jgoldhammer, do you have any ideas?

[2021-02-08 18:01] jgoldhammer commented on #172
I think it is an issue with the used font in Big Sur. Maybe the font is a little bit smaller, so that the tab character will not jump to the next position...

I am also not able to reproduce locally with MacOS Catalina...
<img width="220" alt="Screenshot 2021-02-08 at 19 00 22" src="https://user-images.githubusercontent.com/3872101/107261816-0f2d2480-6a40-11eb-994a-afc0d31e6581.png">

[2021-02-08 18:10] jgoldhammer commented on #171
Maybe only the size for the icon is missing?

[code]

Maybe the frame with width and height is not enough. WDYT?

[2021-02-08 18:19] jgoldhammer commented on #164
Thanks for reporting back.

I think we have to test this stuff more.
This link will not open in the zoom macos app because we are not prepared of these kind of links.

Our code looks like:

[code]

We are only replacing the /j/, not my...
Unfortunately the zoom app does not report back an error so there is no notification...

Can you please share a real zoom url in your case, so that we are able t

[2021-02-09 07:56] igorkulman opened #175 "Bug: Showing time under title results in wrong position"
**App version**
3.0.0 from Homebrew

**Describe the bug**
When I set the meeting time to show under title the result in menu bar is misaligned to the top instead of centered and part of the meeting title is cropped.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Preferences
2. Select Appearance
3. Select "Show under title" for the Time option
4. Observe the menu bar

**Expected behavi

[2021-02-09 08:12] jgoldhammer commented on #175
Thanks for the bug report. So Big Sur again behaves differently to Catalina regarding statusbar items and NSAttributedString. To have it centered in Catalina, I had to play with the baselineoffset and the multiple line height. Maybe it works in Big Sur without these adaptions. 

Code:
![image](https://user-images.githubusercontent.com/3872101/107333860-4dfdc180-6ab6-11eb-9827-9520e105edee.png)

ht

[2021-02-09 08:18] leits commented on #175
@jgoldhammer, let's try to fix this under if-big-sure condition and make a test build to validate the fix.

@igorkulman, could you install the test build and check this bug when we prepare it?

[2021-02-09 08:30] igorkulman commented on #175
Sure, I can even clone the project and run it from Xcode directly, just let me know which branch or what changes to make.

I tried adjusting `styles[NSAttributedString.Key.baselineOffset] = -3` and I do not think it will be enough, It moves the text a bit down but no matter what big value I put there it is still a bit cropped.

[2021-02-09 08:42] igorkulman opened #176 "Feature: Option to only show events from the near future"
**Is your feature request related to a problem? Please describe.**
If I have a say sync call at 4pm I do not need to see it in the morning, it only becomes relevant for me to see it at about 3pm. In the morning it just makes me nervous seeing it :)

**Describe the solution you'd like**
Currently there is an option in the app to show events for "Today" or "Today and tomorrow". I would like an addit

[2021-02-09 11:27] melgu commented on #104
Looks good! Love the other 3.0 changes as well 😃

[2021-02-09 11:43] leobenkel opened #177 "Feature: Integration directly with Google Calendar"
Hello,

**Is your feature request related to a problem? Please describe.**

My problem is that I do not want to link my google account to my apple account with the osx Calendar app

**Describe the solution you'd like**

I would like to be able to connect with Google account directly with your app without going through the osx Calendar app

**Describe alternatives you've considered**

No alternativ

[2021-02-09 11:44] leobenkel commented on #177
Related to https://github.com/leits/MeetingBar/issues/158

[2021-02-09 12:29] jgoldhammer commented on #177
Hi, thanks for your feature request. I will close as duplicate of #158 . Thanks

[2021-02-09 12:29] #177 closed

[2021-02-09 12:31] jgoldhammer commented on #175
Maybe you can play around with lineHeightMultiple? Set it to 1 and see if this will work?

https://github.com/leits/MeetingBar/blob/365219bbc402796ad25486f69460cf8e9cee0580/MeetingBar/StatusBarItemControler.swift#L168

[2021-02-09 17:13] igorkulman commented on #175
I tried tweaking line height and baseline offset but have not found a combination of values that would look ok yet.

[2021-02-09 19:28] jgoldhammer commented on #175
Oh no! thanks @igorkulman for your effort!!

It seems that others have also the problem with Big Sur...
https://stackoverflow.com/questions/65167179/misaligned-nsattributedstring-in-macos-nsstatusitems-button

[2021-02-09 19:41] leits commented on #175
Looks like we need to hide this option for big sure :(

[2021-02-09 20:21] leits commented on #171
Fix checked by @yarsanich on Big Sure:
![зображення](https://user-images.githubusercontent.com/12017826/107423491-095d3f00-6b25-11eb-9556-754a278a1e3e.png)
Works perfectly!

[2021-02-09 20:21] #171 closed

[2021-02-09 21:15] jgoldhammer commented on #176
I think that would be a nice feature... @leits WDYT?

[2021-02-09 21:16] jgoldhammer commented on #164
@nevadascout - can you help us with a real zoom url example? Thx.

[2021-02-09 21:26] leits opened #178 "Feature: Integrate All Contributors"
ref: https://allcontributors.org/

[2021-02-09 21:28] leits commented on #178
@all-contributors please add @leits for code, maintenance

[2021-02-09 21:31] nevadascout commented on #164
Hey, an example link is in this format: `https://example.zoom.us/my/nevada.scout`

These are custom personal links so I'm reluctant to share my real one publicly. This guide shows you how to create one for your own zoom profile.

https://support.zoom.us/hc/en-us/articles/201362843-Personal-meeting-ID-PMI-and-personal-link#h_08f381ef-1e88-417c-b014-a2b9ad4abbda

You need to be a paid user to have a

[2021-02-09 21:35] leits commented on #178
@all-contributors please add @jgoldhammer for code, maintenance

[2021-02-09 21:36] nevadascout opened #181 "Bug: Incorrect time to next meeting showing"
App version `3.0.0`
MacOS version `11.1` Big Sur

This is going to be a pretty useless bug report but I want to report it anyway to give you some awareness of it.

I noticed today that the countdown timer showing in the menu bar next to the meeting had an incorrect time. It was frozen on `in 10 minutes` when the meeting actually started in 1 minute's time.

I'm not sure how to reproduce this, but

[2021-02-09 21:37] leits commented on #178
@all-contributors please add @0bmxa for code

[2021-02-09 21:42] #178 closed

[2021-02-09 22:09] jgoldhammer commented on #181
I have noticed this also during the last time and also with version 2.0.5! Currently I have no idea how to fix this...

[2021-02-10 05:15] bberenberg commented on #30
I noticed that more meeting apps were added in 3.0. As more services are added, features like this one become more and more complex to design and implement.

Is there a planned architecture / approach of how the project will deal with features / changes that have per meeting app consideration?

[2021-02-10 09:12] KaiOelfke commented on #176
For me it would be even x minutes perhaps in 5 or 15 min intervals, but definitely below 1h.

[2021-02-11 05:52] jgoldhammer commented on #170
Hi @sathran - thanks for your feature request.
Maybe you can give us more details about the problem that the current notifications do not play the system sound?

AFAIK we already use the standard notification sound in our code base, so our notification for events should play the default sound driven by macos.

Reference:
![image](https://user-images.githubusercontent.com/3872101/107606077-49abe280

[2021-02-11 12:03] leits commented on #175
Temporary hide this option for Big Sure.
@jgoldhammer We will wait for the fix from apple team or there are other options?

[2021-02-11 13:15] Techneaux commented on #172
Thanks all for investigating (and for this fantastic project). It does appear that this only happens to the shortest of text (pixel-wise: i.e.size of 11 vs other times) The alignment was working well until again today with another 11 AM meeting (pic below). Just wanted to share in case it helps later dev.

![image](https://user-images.githubusercontent.com/8344081/107640943-993fdd80-6c38-11eb-9316

[2021-02-11 18:20] #99 closed

[2021-02-11 18:21] leits commented on #99
![зображення](https://user-images.githubusercontent.com/12017826/107680565-aeebec00-6ca6-11eb-8663-2a0e030757a9.png)

[2021-02-11 20:53] hanssep opened #183 "Feature: Decode Service url from Outlook Safe Link url"
**Is your feature request related to a problem? Please describe.**
MeetingBar does not show meeting service details when url is a Outlook Safe Link url. Day view shows meeting times but does not show service used. When selecting a meeting, MeetingBar shows "Link not found" error.

**Describe the solution you'd like**
I would like MeetingBar to decode the service url from the Outlook Safe Link url

[2021-02-11 21:40] jgoldhammer commented on #183
More details to safe links can be found here:
https://www.askvg.com/why-outlook-adding-safelinks-protection-outlook-com-to-all-urls-in-your-emails-and-how-to-disable-it/

[2021-02-12 17:32] jetztgradnet opened #185 "Feature: integration of other calendar apps, e.g. Fantastical"
MeetingBar offers to open Calendar.app for any event. I use the great Fantastical calendar app, so I would appreciate an option to open the event in (this) other calendar app(s) as well, similar like it is done for the various video conferencing tools and browsers.

See here for the relevant URL scheme:
https://flexibits.com/fantastical/help/integration-with-other-apps

[2021-02-12 20:45] yarsanich opened #187 "Bug: "[" symbol trim at the beginning of event title"
**App version**
3.1.0

**Describe the bug**
"[" symbol trim in the meeting title.

**To Reproduce**
Steps to reproduce the behaviour:
1. Create an event with the title "[Test] meeting".
2. Check MeetingBar event representation. It shows "Test]meeting"

**Expected behaviour**
I'm able to see full event title

**Screenshots**
Event in calendar
<img width="372" alt="image_claendar" src="https://user-

[2021-02-15 06:25] jgoldhammer commented on #185
Hi, thanks for the suggestion. I have scanned through the documentation. It seems that it is not possible to show a specific event in Fantastical. So what is your expection when clicking on "Open in Fantastical"?

[2021-02-15 07:05] jetztgradnet commented on #185
Thanks for considering this!

ONe option would be to open Fantastical at the specific day (which I think is possible).

Maybe contacting them also opens more possibilities, but I'm not sure if you want to make that effort. So I will try to reach out to them and send a suggestion referring to this issue.

[2021-02-15 08:07] jetztgradnet commented on #185
I contacted them, let's see if they are interested in expanding their integration capabilities.

[2021-02-15 11:21] leits commented on #185
@jetztgradnet, thank you for the Idea and for contacting fantastical team!

[2021-02-15 19:07] #175 closed

[2021-02-15 23:24] jasonhan-vassar opened #189 "Bug: Icon is sometimes blurry in General Preferences menu"
**App version**
3.1.0 (App Store version)

**Describe the bug**
The MeetingBar icon in the Preferences General menu is sometimes blurry. This does not happen on the first opening of the app.

**To Reproduce**
Steps to reproduce the behavior:
1. If MeetingBar is open, quit it.
2. Launch MeetingBar.
3. Go to the MeetingBar Preferences and observe the icon in General. It should appear as normal.
4. C

[2021-02-16 07:01] leits commented on #189
Thanks for reporting, @jasonhan-vassar!

[2021-02-16 13:00] jetztgradnet commented on #185
Response from Flexibits (Fantastical):

So with this information it should be possible to at least open Fantastical on the appropriate date and with the title seelcting the right entry. The latter might be a bit flaky (e.g. if there are multiple entries with the same title), but should be close to what would be needed to open that in MeetingBar.

[2021-02-16 16:59] Quartzic commented on #181
Also experiencing this issue after updating from v2 to v3.

[2021-02-16 20:00] leits commented on #185
Thanks, @jetztgradnet!

[2021-02-16 20:12] #187 closed

[2021-02-18 08:55] #172 closed

[2021-02-18 08:59] leits commented on #172
Found a solution, different indentations in the string strangely rendered on Big Sur.
![зображення](https://user-images.githubusercontent.com/12017826/108332092-1a1e4c80-71d8-11eb-83a7-39e9b53d8293.png)

[2021-02-19 09:11] igorkulman opened #192 "Bug: Low-res icon and trimmed texts in About"
**App version**
3.1.1

**Describe the bug**
I updated Meetingbar via homebrew and I wanted to check what version I got, so I went to the Preferences and could not see the version because of trimmed texts.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Preferences'
2. See the problem in the General section

**Expected behavior**
Name and version labels not trimmed so I can see the app

[2021-02-19 10:11] leits commented on #192
Development on Catalina for Big Sur makes me crazy.

Thanks for the report, @igorkulman.
I'll fix it today.

[2021-02-19 15:31] sathran commented on #170
Hey! Thanks for getting back to me.

Here's the default alert sound I have set on my system:
![image](https://user-images.githubusercontent.com/1090355/108524688-33ea8d00-72c7-11eb-9988-d4245f8d15c1.png)

But when MeetingBar displays a notification, the [generic default notification sound](https://www.youtube.com/watch?v=AiMbf0ovXT4) is played.
So maybe the code you show there is 100% correct and

[2021-02-19 19:39] jgoldhammer commented on #164
Sorry for the long delay. To verify it completely please send me a zoom link via mail, so that I can test it. Thanks!

[2021-02-19 19:43] jgoldhammer commented on #145
Ping :-) How to proceed here?

[2021-02-19 19:44] jgoldhammer commented on #158
Due to no activity I will close the ticket. Please reopen @antifuchs if you can help us here. Thanks

[2021-02-19 19:44] #158 closed

[2021-02-19 19:48] leits commented on #145
How about this, but for option 2, do not immediately switch to the next meeting, but show the current meeting for 3 minutes?

[2021-02-19 21:49] jgoldhammer commented on #192
I also have the low-res icon on Catalina...

![image](https://user-images.githubusercontent.com/3872101/108565234-9f9f1b00-7304-11eb-9ea8-bb88cdf308cd.png)

[2021-02-19 21:50] jgoldhammer commented on #189
I will close this in favor of #192 - thanks for reporting. We will fix this issue.

[2021-02-19 21:50] #189 closed

[2021-02-19 23:42] #192 closed

[2021-02-19 23:46] leits commented on #192
Thanks to @yarsanich for validating the bugfix
![2021-02-20 00 46 09](https://user-images.githubusercontent.com/12017826/108573508-76d74f80-731d-11eb-9fbd-6c20d6d74d37.jpg)

[2021-02-22 08:35] MrBeardedGuy commented on #145
This sounds a fair solution.  The system can default to option 1 while giving the user the opportunity to switch to option 2 if needed.

I agree with @leits, might be worth persisting the current meeting name in case the user is late for option 2. I suggest to use 7 minutes instead of 3. Most calendars out there have the minimum meeting default duration set to 15min. If you're late for half of tha

[2021-02-22 12:55] srstanic opened #194 "Open event url in browser if service not recognized"
https://github.com/leits/MeetingBar/blob/a8065e7cdcfa51b201e8a1d7ef5c5a572300ceeb/MeetingBar/StatusBarItemControler.swift#L848

I'm curious why you decided to show a notification when the event URL is not recognized as one of the supported services instead of opening the event link in the browser? Opening the link in the browser is the default behavior of the `openMeetingURL()` function anyway. I

[2021-02-22 13:58] jgoldhammer commented on #194
Thanks for the bug report.
At the moment we are searching through notes, location and url field of the appointment for known meeting services. If we do not find any, we will shows this message. Changing this would mean to detect all kinds of links and guessing to open one of them. We are accepting pull requests!

Alternatively you could add a custom regex under Advanced to let meetingbar handle yo

[2021-02-22 15:18] srstanic commented on #194
I wouldn't call it a bug report, it's more of a UX improvement, if not even a preference. And I have to admit that my use case may be a bit out of the scope of the MeetingBar app, but here it is.

I schedule things to do in my calendar and sometimes these things have links. If they do, I put a link in the location field. Then when the time for this thing to do has come, I'd like to tap on the even

[2021-02-23 10:15] jacklsmith opened #195 "Bug: MeetingBar does not sync with changes to Google Calendar timings or cancelled events"
**App version**

3.1.2

**Describe the bug**

MeetingBar thinks an event is active or upcoming, despite it being moved to a totally different day or time in Google Calendar.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a Google Meet event for a morning in 5 days time
2. 3 days later, change the timing to the afternoon
3. On the event day, it will show you the upcoming event in the

[2021-02-23 17:35] leits opened #196 "Quit the app if the onboarding is interrupted"

[2021-02-23 22:16] roger-o3h opened #197 "Feature: Monitor clipboard for ad-hoc meeting links"
**Is your feature request related to a problem? Please describe.**
Sometimes folks paste me meeting links. The obvious solution is "uhhhh, click them?" But I like to use a specific browser for meetings, which MeetingBar does a smashing job with. For example, Google Meet tends to work best in Chrome, but Firefox is my daily browser.
If I could enable MeetingBar to monitor my clipboard as well as my

[2021-02-23 22:20] roger-o3h opened #198 "Feature: When creating a new meeting via MeetingBar, copy the join URL to the clipboard"
**Is your feature request related to a problem? Please describe.**
Currently to invite someone to an ad-hoc meeting, I'll use MeetingBar to create a meeting in my preferred service with one click. Then it's another few keystrokes and/or clicks to fetch the link to the ad-hoc meeting to share it.

**Describe the solution you'd like**
MeetingBar creates and opens the meeting when you click Create Me

[2021-02-23 22:22] roger-o3h commented on #198
It occurs to me that if both this and feature request #197 are implemented we're looking at a potential circular infinite loop, haha. Please consider both low priority suggestions :)

[2021-02-23 22:27] roger-o3h commented on #198
This seems to do the trick for now as a custom join script:

[code]

[2021-02-25 07:20] leits commented on #198
BLUF: Sorry, but it's impossible to make it into the app at all.

To open the link, the app calls the macOS method, which returns only a true/false.
Therefore, the application knows absolutely nothing about the browser. This is a by-design in macOS for application isolation.
But you manage to solve it with the help of AppleScript.

The next nuance is that some of the links lead to the form of crea

[2021-02-25 07:20] #198 closed

[2021-02-25 16:36] m-graf commented on #78
There's nothing stopping you from opening a pull request! 🙂

[2021-02-25 18:14] jgoldhammer commented on #195
Does restarting meetingbar helps here? How is the event displayed in macOS calendar? Under normal conditions meetingbar gets notified about event changes from eventkit and will update appointments.

[2021-02-26 17:01] leits commented on #183
Got a few more feedback for this.
It looks like we need to prioritize this because for users it's more of a bug than a feature.

Jens, I see you have a branch with changes, are you working on it?
Or can I start it myself?

[2021-02-26 19:52] jgoldhammer commented on #183
I have started working on it. I had not the time to finish it yet. Should I push my not working code as a start?

[2021-02-26 19:54] leits commented on #183
If it makes sense.
Would you have time to continue the development in the near future?

[2021-02-26 19:55] jgoldhammer commented on #195
Can you tell us more Jack? @jacklsmith

[2021-02-26 20:04] jgoldhammer commented on #183
I am working on it right now :-)

[2021-02-26 20:07] leits commented on #183
Cool! Thanks!

[2021-02-27 18:02] jgoldhammer commented on #183
I have developed a first version. Please give your feedback @leits.

[2021-02-27 21:01] #183 closed

[2021-02-28 19:27] jgoldhammer commented on #195
We will close the issue  due to inactivity - feel free to reopen with more details @jacklsmith

[2021-02-28 19:27] #195 closed

[2021-02-28 20:57] jgoldhammer commented on #185
I have added a first version for this functionality in #200

[2021-02-28 22:02] jgoldhammer commented on #197
Hi @roger-o3h - I have a first version working, but I am not happy with the automatic behaviour to open the link directly after copying. Would it help to get a app notification and let the user decide to join the meeting by having an extra click? This way the functionality will not be that helpful because the user cannot prevent opening the meeting only when he wants to copy it. Another option wou

[2021-03-01 17:28] leits commented on #197
What about menu item that appears if we recognize link in the clipboard?
+ shortcut to open a link from the clipboard

Don't really want to monitor the clipboard for every change

[2021-03-01 17:44] roger-o3h commented on #197
Hi! Either of the above solutions sounds great :) I agree the automatic behaviour might be more harmful than helpful. If I had to choose from the two.... maybe the notification with OK/Cancel? And I'm sure most users will want to turn off this feature selectively as well.

But as I say, I'm happy with any solution!

[2021-03-01 20:30] jgoldhammer commented on #197
I have provided a pull request. Can you look at it @leits ?

[2021-03-03 07:22] jgoldhammer opened #203 "Feature: Report when the menuitem is not visible , e.g. macos decides to not show it #5"
**App version**
current version
**Describe the bug**
When the macos systembar is full, the application is not shown. The user is confused and thinks that the application is not working.

**To Reproduce**

**Expected behavior**
the user should be informed when the status item disappears

**Screenshots**

**Desktop (please complete the following information):**
 - macOS version: [e.g. 10.15.4]

**Ad

[2021-03-03 20:54] jgoldhammer commented on #194
The use case for this app is to visualize and join meetings with one click. I guess this feature request goes beyond it, but would indeed bring a benefit. I will try to implement a solution for this...

[2021-03-04 19:21] luckman212 opened #204 "Bug: tooltip not updated when there are no upcoming meetings"
**App version** 3.1.2

**Describe the bug**
After a meeting has occurred, if there are no more upcoming meetings, the tooltip still displays the "ghost" of the last meeting.

**To Reproduce**
Steps to reproduce the behavior:
1. Have a meeting
2. Have no more meetings
3. Hover the mouse over the menubar icon

**Screenshots**
tooltip
![image](https://user-images.githubusercontent.com/1992842/1100174

[2021-03-10 16:48] ssoroka opened #205 "Feature: Option to end meeting early"
When meetings end early, the task bar continues to show the past meeting until its scheduled end time, which blocks me from seeing when my next meeting starts.

**Describe the solution you'd like**
I'd like to be able to mark this meeting over so I can see my next meeting immediately.

[2021-03-10 21:41] elainemckinley opened #206 "Feature: Temporarily hide meeting name"
**Is your feature request related to a problem? Please describe.**
When in an impromptu screen sharing, sometimes I have a private/sensitive meeting coming up. It'd be nice to be able to temporarily hide the next meeting from within the menu bar instead of having to navigate to the preferences to do so.

**Describe the solution you'd like**
An option inside the menu bar (next to a meeting perhaps)

[2021-03-11 07:04] jgoldhammer commented on #206
I love your feature request because I am often in the same situation. The menubar and statusmenu capabilities are very limited. Do you think we should add an entry in the menubar "Show/Hide meeting name" next to "Create meeting", "Join next meeting" and allow to bind it to a keyboard shortcut? What do you think @leits ?

[2021-03-11 07:07] jgoldhammer commented on #205
Thats a cool feature request. I am often in the same situation.
I think, we could totally make it happen in the background. What do you think about UX here? How should we be able to mark the calendar event as over? Should we add a sub menu entry to the event, so that I can also undo this change?

[2021-03-11 08:06] Yago commented on #181
Worst, new meetings don't appear in MeetingBar...

I'm also on **Big Sur** with `3.1.2`

[2021-03-11 08:14] nevadascout commented on #181
@Yago I've found that new meetings sometimes take a while to appear in MeetingBar. It must be something to do with how meetings sync

[2021-03-11 08:18] nevadascout commented on #164
Hi @jgoldhammer which email should I send it to?

[2021-03-11 14:46] leits commented on #181
@Yago, can you check the Calendar app? Do they appear there?

[2021-03-11 15:24] Yago commented on #181
@leits Very nice guess! No, it didn't. After moving on Big Sur recently, the session must have been revoked. And because I'm only using the Calendar App for MeetingBar (browser tabs are my go to), I didn't see the alert...

[2021-03-11 17:13] leits commented on #205
+1 here. Looks very useful.
And even more, sometimes it is useful not only to skip the current meeting but also to skip the next meeting before it starts.

[2021-03-11 17:19] leits commented on #206
Looks like a quick action in the menu.
Or option "hide the title during the meeting" in Preferences.
What do you think, @austinmckinley, @jgoldhammer?

[2021-03-11 18:51] OhBehive opened #207 "Feature: Option to hide MeetingBar if meetings are outside a certain alert time"
**Is your feature request related to a problem? Please describe.**

I have an (intense) dislike of being reminded of a meeting if it's not happening within 30 minutes. It's incredibly distracting to me to know I have a meeting in 6 hours.

**Describe the solution you'd like**
I'd like a way to just hide MeetingBar / only show meeting bar logo if I have no meetings in the next 30 minutes (could be

[2021-03-11 18:53] OhBehive commented on #207
Woops! I see there's a PR for this :)

[2021-03-11 18:53] #207 closed

[2021-03-11 19:16] rfein-hearst opened #208 "Bug: Can't join zoom meetings from app directly"
**App version**
3.1.2

**Describe the bug**
Can't join zoom meetings when "Open Zoom Links in Zoom App" is chosen.  If I have zoom open, nothing happens. If i don't have zoom open, it opens, but I'm signed out (and nothing happens)
**To Reproduce**
Steps to reproduce the behavior:
1. Set zoom meetings to open in the zoom app in Services preference tab.
2. Click on a zoom meeting.
3. Observe behavi

[2021-03-11 21:22] austinmckinley commented on #206
My perfect wishlist for this would be a larger "current meeting" section at the top, with an item saying "Hide meeting name" or something that replaced the meeting name with "Current meeting ends in 10m" (if one is in progress) or "Next meeting in in 10m" (if not).
I'd imagine #205 could also make sense to put under this menu :)

[2021-03-12 05:34] ssoroka commented on #205
Good suggestion. For a UX that meets both; maybe just a "end current meeting"  and "skip next meeting" menu options that you could select? You might even be able to combine both into a single "go to next meeting" option that just hops to whatever's next in the calendar.

[2021-03-12 09:57] sathran commented on #170
Hey, hey! Just though I' add a bit of steam to this - this would likely be the way to play the users configured setting: https://developer.apple.com/documentation/audiotoolbox/1405202-audioservicesplayalertsound?language=objc

[2021-03-12 09:59] sammachin opened #209 "Feature: Set default browser for any/all meetings"
I mostly use Vonage Meetings, but I'm having issues with that in my preferred browser (Firefox) so I need to use Chrome. I'd like to be able to set that MeetingBar opens all meeting links in Chrome rather than just being able to overide it for Zoom, Meet, Teams etc.
Or even better the ability to set a handler for each supported type of meeting.

[2021-03-12 16:35] roger-o3h commented on #197
Awesome thank you @jgoldhammer! Excited to see if this makes it into a future build!

[2021-03-12 17:22] PeterWhittaker opened #210 "Bug: MeetingBar does not appear in "System Preferences, Notifications""
**App version**
3.1.2 (installed via `brew` as per instructions in README).

**Describe the bug**
MeetingBar tells me to enable its notifications in System Preferences, but it does not appear in the list of apps.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `System Preferences`
2. Click on `Notifications`
3. Scroll as much as you like
4. MeetingBar does not appear

**Expected behavi

[2021-03-12 18:38] PeterWhittaker opened #211 "Feature: Add "Create meeting in other app..." (renaming Create meeting to Create meeting in <default app>""
**Is your feature request related to a problem? Please describe.**
`Create meeting` defaults to the default app (Teams in my case). Most of the time, this is correct, but not always. It would be good to be able to Create a meeting in another calendar.

**Describe the solution you'd like**
Rename "Create meeting" to "Creating meeting in <"default app>", replacing "default app" appropriately, and ad

[2021-03-13 14:48] jgoldhammer commented on #210
Hi Peter,

thanks for your bug report. I guess that this problem does not relate to the app meetingbar, but to the notification center of MacOS. Please keep in mind that this list is generated by macos and we do not actively can register the app meetingbar here.
For example, as a macos user you are able to delete apps from the notification center by selecting an entry and click delete. Sometimes t

[2021-03-13 14:48] #210 closed

[2021-03-13 18:36] jgoldhammer commented on #206
Hi @austinmckinley - I like your idea! The current approach with NSMenu and NSMenuItem is very limited, so I don not know if this looks good from a UX perspective.

What we could do is to show a seperate popup window when the statusitem is clicked with right mouse click via mouse or 2 fingers for touchpad. Currently this starts the next meeting, but we could instead show a seperate popup view with

[2021-03-13 18:40] jgoldhammer commented on #209
Hi @sammachin ,

Thanks for your idea. I am currently rewrite the browser management in Meetingbar. This is indeed part of my current implementation to choose a default browser for all meetings. Would you think it would be necessary to be able to define the browser per meeting service?

[2021-03-13 18:42] jgoldhammer commented on #204
Thanks @luckman212 ! We will try to fix it in the next release.

[2021-03-15 13:20] PeterWhittaker commented on #210
@jgoldhammer Thanks for the info. I'd recommend adding that to the README.

I was going to test this procedure, but, with a weekend away from the computer, Mac OS and MeetingBar caught up with each other - if I get a chance, I will install MeetingBar on my other Mac and see if that works.

FYI, `dirname $(lsof -p $(pgrep usernoted)|awk '/db2\/db$/ {print $9}')` is arguably a bit more efficient for

[2021-03-15 18:01] RaiserWeb commented on #181
I see meeting = (now) when it actually still has 1 minute to start.

[2021-03-15 20:08] PeterWhittaker opened #212 "Bug: Some calendars not appearing - RO issue?"
**App version**
3.1.2

**Describe the bug**
Not all of the calendars visible in Calendar appear in MeetingBar - it may be related to the permissions I have on those calendars (in Calendar, Preferences, Delegation, all of the excluded calendars are read-only).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Calendar, Preferences, Account Information', enable a specific account
2. Go to

[2021-03-15 23:32] #176 closed

[2021-03-17 08:57] lorenzonucaro opened #213 "Not all the events for the day are shown in meeting bar"
**App version**
3.1.2

**Describe the bug**
Not all of the events visible in my Calendar appear in MeetingBar. This issue started with the last update of meetingbar

**Desktop (please complete the following information):**
macOS version: 11.2.3

[2021-03-17 19:53] leits opened #214 "Bug: incorrect Japanese rendering in meeting notes"
**App version**
3.1.2

**Describe the bug**
Html with Japanese renders incorrectly in the notes section of event details.
<img width="723" alt="зображення" src="https://user-images.githubusercontent.com/12017826/111529515-eb5dac80-876a-11eb-92c8-a3f36e3f0779.png">

**To Reproduce**
Steps to reproduce the behavior:
1. Create an event with the description:
`<b><font>日本語テスト </font></b>`
2. Open event

[2021-03-17 19:54] leits commented on #214
@0bmxa, @jgoldhammer I need your help here.

[2021-03-18 08:49] #214 closed

[2021-03-18 14:02] glenjamin commented on #208
I've been seeing this too, but inconsistently - it does seem to at least focus the Zoom application, but doesn't join the meeting.

Is there anything I can do to debug this?

[2021-03-18 14:13] glenjamin commented on #208
I had a poke around in the code, this is the block which launches in the zoom app:
https://github.com/leits/MeetingBar/blob/4f869a4df80ee4d1700c40cfadcac099548cb699/MeetingBar/StatusBarItemControler.swift#L922-L930

Is there a good way to get the app to tell me / log what zoom URL it's parsed out and decided to try opening? Then when I see it fail to open I can inspect the URL it launched and see

[2021-03-18 19:55] jondcallahan opened #216 "Feature: Hide events with no meeting link"
**Is your feature request related to a problem? Please describe.**
I block time on my calendar for lunch, but sometimes have a meeting with others during that time. Currently meetingbar shows my lunch event instead of the other meeting with a zoom link.

**Describe the solution you'd like**
The option to hide meetings without a meeting link so I can put time blocks on my own calendar and not have

[2021-03-19 14:11] sammachin commented on #209
I think having a default browser for all meetings but then maybe some sort of advanced mode that lets you match a regex pattern to any applicaiton on the system as a handler would be good

[2021-03-20 20:57] leits opened #218 "Feature: Safari as one of the browser options"
*From email feedback*

[2021-03-20 21:07] leits opened #219 "Bug: The preferences has a “⚠️ Your macOS notification settings..” even though notifications for MeetingBar are enabled."
*from email*

Maybe it's because we only check for an Authorized state without taking Provisional or Ephemeral into account.
https://github.com/leits/MeetingBar/blob/fd58e69906447d6724b3edeef7eb26c63a7814c7/MeetingBar/Views/Shared.swift#L27

[2021-03-20 21:08] leits opened #220 "Feature: Add other browsers as options for Zoom and Teams meetings"
*from email*

I think it makes sense and for Teams meetings too.

[2021-03-21 19:37] mdbraber opened #221 "Feature: Limit width of submenu items"
**Is your feature request related to a problem? Please describe.**
It seems that newlines are non-existent or ignored in notes field which therefore become extremely wide as submenu items. It would be great if there would be a max width to the submenu items.

**Describe the solution you'd like**
Max width for submenu items (either configurable or hardcoded)

**Describe alternatives you've consider

[2021-03-22 14:00] glenjamin commented on #208
Oh, I think I know what this might be - one of the meetings i'm joining is using an alias like `/my/alias-name`

[2021-03-22 22:38] #218 closed

[2021-03-23 08:15] #219 closed

[2021-03-23 13:17] #204 closed

[2021-03-23 19:48] #196 closed

[2021-03-23 21:34] #154 closed

[2021-03-24 13:41] joshuarudd opened #224 "Bug: When another attendee declines a meeting, it appears as canceled"
**App version**
3.1.1

**Describe the bug**
When another attendee declines a meeting, the meeting appears as canceled in the menubar (strikethrough), and states it is canceled in the dropdown meeting details.

In addition, the details section shows that _I_ am the one that declined, even though the name next to it was a different attendee.

**To Reproduce**
Steps to reproduce the behavior:
1. Crea

[2021-03-24 14:45] joshuarudd commented on #224
Okay, small update here. After posting this I declined the event, but now it shows that I've accepted it (it thinks I'm the remaining attendee on the meeting).

So it seems that the root of the issue is that MeetingBar doesn't really know _which_ attendee I am on a meeting, and is reflecting the accepted status of other attendees for me.

![2021-03-24 10 41 26 - CleanShot@2x](https://user-images.g

[2021-03-24 18:26] jamtur01 commented on #181
Same problem with time freezing. Requires to restart of MeetingBar to update. MacOS 11.2.3 and MeetingBar 3.1.2.

[2021-03-24 19:41] leits commented on #181
Spend a few hours loading CPU/RAM on my mac to reproduce. I can't reach a complete freeze.
@jamtur01, could you, please, get MeetingBar logs from Console when it freezes next time?

For updating the status bar title we use `NSBackgroundActivityScheduler` recommended by Apple.
With the highest priority - "User Interactive" - and 30 seconds interval.

From what I did manage to reproduce, macOS may n

[2021-03-24 19:46] leits commented on #181
I also have one strange assumption.
@jamtur01 or anyone else here, could you also check if the menu events are updated when frozen? For example, if you add a new event to your calendar, will it appear?
Thanks!

[2021-03-24 19:52] jgoldhammer commented on #181
We could try to wrap the update code in the activityhandler into DispatchQueue.main.async  which means to run the update in the Main Thread.

[2021-03-24 20:02] jamtur01 commented on #181
@leits It appears new events are added. I am unclear what the normal tempo for them to be polled from Calendar but it looks like 5 ish minutes?

I do see these events in the Console

[code]

[2021-03-24 20:17] leits commented on #181
I thought about that, too, @jgoldhammer. Is that what you mean? https://github.com/leits/MeetingBar/commit/eae120b11179d0cee651c8fe76cb10d86607c59e

[2021-03-24 20:19] leits commented on #181
@jamtur01, macOS blocks the app from updating because your laptop is overheating.
I don't think it can be bypassed at all.

[2021-03-24 20:20] jamtur01 commented on #181
@leits Yeah I figured from the console error. What's weird is the temperature sensor reports 50-60 degrees which should be within tolerances and not trigger the thermal throttling. :(

[2021-03-24 20:23] jgoldhammer commented on #181
Maybe we have to add the completion statement into the async block as well . I do not what happens when completion is executed earlier than the UI update...

[2021-03-24 20:26] jgoldhammer commented on #181
Und we have to think about the other methods which trigger the update like a settings change. They have to run in UI thread as well IMHO...

[2021-03-24 20:29] leits commented on #181
Maybe, but I don't see an easy way to implement it.

While I'm thinking about updating the status of the bar, this is the main problem.
Maybe it's worth moving to Timer?
https://www.hackingwithswift.com/articles/117/the-ultimate-guide-to-timer

[2021-03-24 20:32] leits commented on #181
Thank you a lot, @jamtur01.
After your help, I am sure that the current approach to update the title can't solve this problem.

Please, tell me more, how often do you have this problem?
And could you help us and check a test build when it's ready?

[2021-03-24 20:36] jamtur01 commented on #181
@leits Probably happens 3-4 times a day. I'll tweak my fan control a bit.

Also happy to test a build.

[2021-03-24 20:38] defrex opened #225 "Bug: Stops progressing time after running for a bit"
**App version**
3.2.1

**Describe the bug**
When I launch MeetingBar, it seems to work fine. However, usually after an hour or two, it stops moving forward in time.

You can see in the screenshot below: MeetingBar thinks it's ~10:45a when it's actually 4:31p.

**To Reproduce**
Steps to reproduce the behavior:
1. Start MeetingBar
2. Wait...
3. ???
4. MeetingBar stops working

**Expected behavior**

[2021-03-24 22:41] leits commented on #225
Thanks for the report, @defrex!
It actually duplicates #181, please follow the last one.

[2021-03-24 22:41] #225 closed

[2021-03-24 23:19] leits commented on #213
Hi, @lorenzonucaro. Thanks for the report!

Could you please check the event section in the Appearance tab in Preferences?
If everything selected for show then please check the macOS Calendar app, if there are the events are you looking for?

[2021-03-24 23:28] leits commented on #212
Thanks for the report, @PeterWhittaker.

I found that the EKEventStore API we use doesn't return the calendars from delegated sources by default, but there is a way to change it.
ref: https://developer.apple.com/documentation/eventkit/ekeventstore/1507419-delegatesources

[2021-03-25 10:23] dcyoung-dev commented on #220
This would be a good addition to Teams meeting too. Firefox and Teams have issues and it would be nice to open Teams links in Chrome even though default browser is Firefox 👌

[2021-03-26 09:24] 2Grey commented on #221
Check out PR [#266](https://github.com/leits/MeetingBar/pull/226)

[2021-03-26 22:44] ccarterlandis opened #227 "Bug: Preferences UI sometimes incorrectly displays over itself when switching away from "Calendar" tab"
**App version**
3.1.2

**Describe the bug**
When clicking between the various sections of the preferences menu, sometimes when a user has "Calendar" selected and then selects another section, the Calendar section will not disappear/be erased before the new is drawn, so they end up rendering on top of each other making both unreadable. I recommend watching the attached video and then reading the re

[2021-03-31 19:58] jgoldhammer commented on #227
Thanks for the report. I have seen that too while running in debug mode. I always thought it was related to the non productive mode.

[2021-03-31 20:00] jgoldhammer commented on #212
Do you think we can extend that in the codebase?
How to test that with a free googlemail account?

[2021-03-31 20:03] jgoldhammer commented on #216
Hi Jon,

thanks for the feature request. We have discussed that earlier and I already had a prototype running, but we aligned that this kind of feature could reduce the trust in meetingbar as it maybe hides meeting with a meetingservice that is not detected.

As this is the second request- what do you think @leits ? Should we put that behind a configuration option and the default is to show all ev

[2021-03-31 20:05] jgoldhammer commented on #213
Hi @lorenzonucaro ,

sorry, but I will close the ticket for now due to a missing response. Feel free to reopen the ticket with more information, steps to reproduce and maybe some screenshots.

Thanks
Jens

[2021-03-31 20:05] #213 closed

[2021-03-31 20:23] jgoldhammer commented on #181
I guess we should switch to Timer base  implementation (https://developer.apple.com/documentation/foundation/timer) instead of the  NSBackgroundActivityScheduler which schedules low priority tasks in the background.
What do you think @leits ? It is worth to try it? I guess NSBackgroundActivityScheduler cannot be tweak more than we have done it...

[2021-04-01 09:32] leits opened #228 "Bug: No app icon when no calendar selected"
_from email_

**Describe the bug**

if you don't select any calendars in MeetingBar and restart your computer, there's currently no icon (just blank space) for MeetingBar access.

**Additional context**

Here's what happened to me: I hadn't used OSX calendar (just using google calendar on chrome). I went to set up my apple calendar per your nice instructions in-app, but for some reason, the apple

[2021-04-01 09:58] nevadascout commented on #181
This is particuarly bad with Zoom which is a huge CPU resource hog when it's open and often is showing the incorrect remaining time of a meeting because of this thermal throttling issue.

It would be great to have this fixed :)

[2021-04-01 17:41] ccarterlandis commented on #227
@jgoldhammer maybe I'm also running in debug mode? I don't think I am, as I don't remember ever setting anything like that, and I don't see anything in the UI that would indicate I'm in debug mode - but maybe I just missed it. Glad to hear it's not just me though.

[2021-04-02 19:58] elainemckinley commented on #206
I have no intentions of building this feature, but my gut feeling is that makes sense (although discoverability might be a little lower with that option).

I also found another workaround (switching to Big Sur made me find a replacement to Bartender, so I can just drag MeetingBar to the hidden area now) so I'll leave the implementation up to y'all :)

[2021-04-03 22:35] #197 closed

[2021-04-04 19:15] igorkulman commented on #176
Which version is this feature available in? I am running the latest 3.2.1 released after the related PR has been merge but I do not see the option in the app.

[2021-04-05 08:18] leits commented on #176
Try this option in preferences:
<img width="812" alt="зображення" src="https://user-images.githubusercontent.com/12017826/113553546-9e018c00-9600-11eb-9ee2-1603f4256b13.png">

[2021-04-05 11:14] igorkulman commented on #176
Got it thanks, I was looking in the wrong place remembering the PR screenshot.

[2021-04-05 20:46] #185 closed

[2021-04-05 20:56] jgoldhammer commented on #209
From enduser perspective regexs will be hard to sell - I guess it would be nice to let users configure a browser for each meeting service. What do you think, @leits ?

[2021-04-05 20:57] jgoldhammer commented on #185
@jetztgradnet - this feature will be released in the next version.

[2021-04-05 21:35] leits commented on #209
Agreed

[2021-04-06 10:34] jetztgradnet commented on #185
@jgoldhammer cool, looking forward to trying this. Thanks for taking the time to implement that!

[2021-04-06 12:49] sammachin opened #230 "Bug: MeetingBar keeps closing"
**App version**
3.2.1

**Describe the bug**
I keep noticing that meetingbar is not running in my toolbar, I'm not sure when or why it dies but I've probabbly had to relaunch it 2-3 times this morning.

**To Reproduce**
Sorry but I've no idea! it just dissapears, let me know if there's anywhere I can extract logs.

**Expected behavior**
Stay running in the toolbar

**Desktop (please complete the fo

[2021-04-06 14:50] sammachin commented on #230
I've just found the crash report in Console, pasted the first section below, let me know if you want the whole thing, I wasn't certain it didn't contain private info so not posting it all here
Seems to happen on the hour when I've had a meeting in the previous hour
[code]

[2021-04-06 17:01] leits commented on #230
Thanks for the report @sammachin!
I'll take a look at this today.

[2021-04-07 14:32] leits opened #232 "Feature: Zoom Webinars links support"
Zoom Webinars links usually look like this:
`https://<custom-domain>.zoom.us/webinar/register/<webinar-id>`

ref: https://github.com/leits/MeetingBar/discussions/108#discussioncomment-577092

[2021-04-08 17:07] petems opened #235 "Feature: Allow configuration of Mouse Clicks"
**Is your feature request related to a problem? Please describe.**
I'm super used to Right Click for config, left click to open, but those are flipped for MeetingBar.

**Describe the solution you'd like**
Allow setting click behavior for upcoming meetings.

**Describe alternatives you've considered**
None for now, it's just a personal preference.

**Additional context**
Thanks for the great app! I

[2021-04-09 12:57] defrex commented on #181
This problem went away for me! 🎉

I suspect it was related to a recent Big Sur update.

[2021-04-09 13:25] jamtur01 commented on #181
@defrex What MacOS version are you on?

[2021-04-09 15:44] defrex commented on #181
I'm on `11.2.3`, ya. I can't say for sure what happened, but MeetingBar seems to work fine after my computer booted from that update.

[2021-04-09 17:02] jakeswenson opened #236 "MeetingBar Segfault's shortly after starting up"
My MeetingBar is crashing today and I'm not sure why.
I started the app from the terminal and i can see it is getting a segmentation fault.

[code]

Is there a way to enable more debugging/verbose output?

[2021-04-09 19:35] leits commented on #236
Thanks for the report, @jakeswenson
Does this happen when you launch the app or when you try to join an event?

[2021-04-10 16:52] jakeswenson commented on #236
When launching the app, it crashes right away.

[2021-04-12 05:27] #221 closed

[2021-04-12 05:27] jgoldhammer commented on #221
Thanks @2Grey !

[2021-04-12 06:53] sammachin commented on #230
I think I discovered the cause, I had `Send Notification to Join Next Meeting` set but I hadn't granted meetingbar notifications permission in macos settings. Now I've fiex that it seems stable.

I'd still say this is a bug that the app quits but at least its easier to work around now and reproduce

[2021-04-12 07:50] leits commented on #230
It's great that you found it.
@jgoldhammer, could you take a look?

[2021-04-13 12:54] desmondfuller commented on #236
I'm having the same issue at Launch.

`MeetingBar(2541,0x108aa7e00) malloc: Incorrect checksum for freed object 0x7f819a126e00: probably modified after being freed.
Corrupt value: 0x40022
MeetingBar(2541,0x108aa7e00) malloc: *** set a breakpoint in malloc_error_break to debug`

[2021-04-13 18:52] leits opened #239 "Feature: Compose email to all attendees (quick action)"
Add quick action to compose an email with all participants from current/next event to let them know that you're running late.

ref: https://twitter.com/ahiggz/status/1382042505575759874?s=20

[2021-04-13 18:55] leits opened #240 "Feature: Compose meeting notes email (quick action)"
Add quick action to compose an email with all participants from the current/last meeting to share the meeting notes.

Similar to #239, but with a different template and related to the last meeting instead of next.

[2021-04-15 13:13] adsche commented on #84
Maybe I'm not the target audience for this app, but I really love the convenient 'join' feature and thought I'd add my thoughts:

Only about 30% of the entries in my calendar are online meetings. Pre-COVID, it was more like 5% and I'd expect it to go back to that at some point.

I was surprised that I can hide all-day events without a link but not normal ones.
I understand your position that it mi

[2021-04-15 18:24] jgoldhammer commented on #239
I really like this feature. Should we add this for each calendar entry in the submenu for this entry besides "Open in calendar"? WDYT?

[2021-04-15 21:16] jgoldhammer commented on #216
Some good news @jondcallahan - I have worked on this feature in #241 . Can you please check if this implementation would help in your case?

[2021-04-15 21:19] jgoldhammer commented on #84
I have worked on that feature today because it was also annoying for me because I had events with guests (2 times with different mail adresses), so the option to hide without guests was not working for me anymore, so I started to implement this in #241.
Can you please check #241 , @fuzzy76  and @adsche ?

[2021-04-15 22:00] jgoldhammer commented on #212
I have implemented a first version. We have to further test this. All calendars are now displayed in the preferences dialog.

[2021-04-15 22:06] jgoldhammer commented on #78
I will close the issue for now because there are currently no plans.

[2021-04-15 22:06] #78 closed

[2021-04-16 06:46] jgoldhammer commented on #181
I have made some changes regarding the scheduling with the timer implementation. I hope, this will finally solve the issue for all.

[2021-04-16 07:58] adsche commented on #84
Wow, thank you, that looks exactly like what I wanted! Amazing!

(I tried to test it but couldn't compile without a developer account, sorry. But the screenshots look perfect for my use case, I'll wait for when it lands!)

[2021-04-16 10:49] leits commented on #239
I see two more opportunities for this feature.
The first is to add an option to the notification.
Second - to add this to the "quick action" we are planning.

[2021-04-16 16:56] jondcallahan commented on #216
Yes, that looks good! Thank you!

[2021-04-16 17:08] #181 closed

[2021-04-16 17:20] #212 closed

[2021-04-16 19:50] jgoldhammer commented on #239
How do you think to design quick actions? the menubar is very limited. Should we add a seperate statusbar icon to click on which brings up a complete new view or how do you want to integrate it? Ideas so far?

[2021-04-18 15:55] luckman212 opened #245 "Increase the artificial limit on "show only next event starting within XX" option?"
This stepper only goes up to 120m
![image](https://user-images.githubusercontent.com/1992842/115151838-a57f5700-a03c-11eb-921e-1907ebdd9281.png)

For me 2hrs is not enough, I would like to look ahead 4h... some people might want 6, 8 etc...

I suggest changing upper bounds of `showEventMaxTimeUntilEventThreshold` to **720** (12 hours):

https://github.com/leits/MeetingBar/blob/8a86c8047e18b576f1f1

[2021-04-18 16:52] yarsanich opened #246 "Feature: Notification before event ending"
I was wondering how it would be nice to have a reminder that says "5 minutes left from [Event name]". I think it may prevent us from extended meetings.

Notification could be the same as before the meeting. And it would be nice to have a configurable time range - when notification will be delivered (E.G 1 min, 5 min, 10 min before meeting end)

My use case: time blocking technique. I have time blo

[2021-04-19 10:06] maxout123 opened #247 "Bug: meetingbar sometimes exiting from toolbar"
**App version**
3.2.1

**Describe the bug**
Meetingbar exiting from toolbar from time to time
This happens 1-2 times a day.
If teams meeting is going on, it will happen more probably.
When Teams meeting is going, I even can not launch Meetingbar, as it's exiting immediately every time I launching it with ~80% probability.

**To Reproduce**
Just launch and wait

**Expected behavior**
Stay running i

[2021-04-19 11:47] maxout123 commented on #247
One addition: it has started after update to 3.2.1 or one of the nearest previous versions.
Meetingbar worked like a charm before that.

[2021-04-19 17:28] leits commented on #247
Thanks for the report, @maxout123!

[2021-04-20 00:07] leits opened #248 "Feature: Focus on next event when open menu with shortcut"
When opening via shortcut, users often select the desired meeting and join via enter.
Set a focus on the next meeting to make this process faster and more convenient.

[2021-04-20 00:09] leits opened #249 "Feature: Accept/Decline meeting from event submenu"
Add actions to response on event request right from MeetingBar

[2021-04-20 17:58] ndharani opened #250 "Bug: MeetingBar stops updating schedule"
**App version 3.2.1**

**Describe the bug**
MeetingBar stops updating the Google Calendar schedule. This might be related to when there is an upstream change in the calendar (moving an upcoming or current meeting to the future). For the rest of the day, MeetingBar shows "MeetingThatWasMoved in 12 minutes". (12 minutes represents the amount of time left before the start of the meeting at the time t

[2021-04-20 18:57] leits commented on #250
Hi, @ndharani. Thanks for the report!
There is already the same, so I will close this one.
https://github.com/leits/MeetingBar/issues/181
Will be fixed in the next release!

[2021-04-20 18:57] #250 closed

[2021-04-20 19:01] hanssep opened #251 "Bug: Since today, Meetingbar keeps crashing on startup."
**App version**
3.2.1

**Describe the bug**
Since today Meetingbar crashes on startup. No menu item is shown.

**To Reproduce**
Start Meetingbar.

**Expected behavior**
Expect meetingbar to open and visible in menu bar

**Screenshots**
NA

**Desktop (please complete the following information):**
 - macOS version: 11.2.3

**Additional context**
Noticed Meetingbar not visible in the menu bar this mo

[2021-04-20 19:02] ndharani commented on #250
Thanks!

[2021-04-20 19:06] leits commented on #251
Thanks for the report, @hanssep!
Did you install the app from AppStore?

[2021-04-20 19:14] hanssep commented on #251
Apologies.  No, installed from the installer on Github.

--
Hans
On Apr 20, 2021, 12:07 PM -0700, Andrii Leitsius ***@***.***>, wrote:

[2021-04-20 19:22] jgoldhammer commented on #248
Hmm, I am not completely coninved.

We have a direct shortcut for opening the next event?
Additionally you can right click on the status bar and you can join the event with a simple click.
Do you think this would be enough?

From a technical perspective- how to focus the menu entry? If you have the mouse in a specific area, you would hover over a specific meeting, right?

[2021-04-20 19:23] jgoldhammer commented on #246
Thanks @yarsanich - nice feature request. Still thinking about this.

Even more I could imagine that we could give organisers of the event the possibility to extend the meeting for 5, 10 or 15 minutes... WDYT @leits  and @yarsanich ?

[2021-04-20 20:55] leits commented on #251
@hanssep , please, try this one: https://github.com/leits/MeetingBar/releases/tag/v3.2.2

[2021-04-20 21:14] hanssep commented on #251
Works! No crash report!

--
Hans
On Apr 20, 2021, 1:55 PM -0700, Andrii Leitsius ***@***.***>, wrote:

[2021-04-20 21:43] leits commented on #251
Great!
I'll close it now, but please reopen if it reproduces again.

[2021-04-20 21:43] #251 closed

[2021-04-21 13:05] leits commented on #247
@maxout123, please, check the latest version.
It fixed a similar issue: #251

[2021-04-22 19:14] dennis-bell opened #253 "Feature: Handle events that last more then 23 hours also all day events"
**Is your feature request related to a problem? Please describe.**
Although MeetingBar support filtering all day events, there are managers that dont fully understand how all day events work and still book from 0 to 23.59 :(
And its not being filtered as an all day event.

**Describe the solution you'd like**
Could there be added events longer then 23 hours also to handle as all day events.
Or eve

[2021-04-23 19:25] #245 closed

[2021-04-23 19:26] leits commented on #245
Thanks, @luckman212!
You did almost everything yourself with this detailed description! 😄

[2021-04-24 13:37] jgoldhammer commented on #253
Hi Dennis,

we will release feature #241 soon. I hope, this will help you to get these events filtered.
If not, please describe more why these events should get filtered. Please reopen the issue then.

Thanks
Jens

[2021-04-24 13:37] #253 closed

[2021-04-24 13:46] jgoldhammer commented on #230
I cannot reproduce this bug locally. Maybe the reason is that I have no M1 - MacMini, but used a Intel macbook-pro-16...

When I disable the notifications for meetingbar in system settings...
![image](https://user-images.githubusercontent.com/3872101/115960864-0662cf80-a514-11eb-9997-4f45f4701ca1.png)

Meetingbar shows me:
![image](https://user-images.githubusercontent.com/3872101/115960842-ea5f2e

[2021-04-24 23:30] leits commented on #230
@sammachin, also please check the latest version.
It fixed a similar issue: #251

[2021-04-25 12:42] #167 closed

[2021-04-25 12:42] #209 closed

[2021-04-25 12:42] #220 closed

[2021-04-25 15:41] jgoldhammer commented on #224
Hi @joshuarudd ,

I am trying to reproduce with my google account, but was not able to do so. Can you please try to post the steps to reproduce this behaviour? Maybe I have missed something. Thanks!

[2021-04-25 18:13] 2Grey commented on #232
Is that regex correct?
`https?:\/\/(?:[a-z0-9\-\.]+)?zoom.(?:us|com.cn)\/webinar\/register\/.[0-9a-zA-Z?=\-\.]*`

[2021-04-25 18:46] jgoldhammer commented on #232
@leits - I am not really sure that this link is the correct JOIN link - it looks like a registration link which is important to register for the webinar, but I think not for joining directly...

[2021-04-26 19:52] AdeelK93 opened #257 "Bug: Join next meeting, for a 15 minute meeting"
**App version** 3.2.2

**Describe the bug**
Love this app, very helpful, use it all the time.

I have meetings, on some days, every 15 mins. If I try to join this meeting using the `Join next event meeting` shortcut even a few seconds after it starts, I join my next next meeting (joining the 10:00 meeting at 9:45, when I want to join the 9:45 meeting).

I *think* the problem comes from here: https

[2021-04-28 12:31] leits commented on #257
Thanks for the issue, @AdeelK93!

Some time ago we up the visibility threshold to 15 min from 10 min.
But it makes sense to change it to maybe 13 minutes, WDYT?

[2021-04-28 13:45] AdeelK93 commented on #257
13 minutes would be great, thank you!

[2021-04-28 13:54] #257 closed

[2021-04-29 09:43] maxout123 commented on #247
@leits thank you so much, it works smooth and stable now!

[2021-04-29 09:43] #247 closed

[2021-04-30 09:02] nevadascout commented on #181
I'm still seeing this problem on MeetingBar v3.2.2

[2021-04-30 17:37] cdcharlebois opened #259 "How do the regexes work?"
There's little help on here or in the UI about how I should use the regexes. Specifically, I'm looking to have the app recognize custom zoom links as in #164 . Is this possible using the regexes feature?

Thanks

[2021-04-30 19:54] defrex commented on #181
This has regressed for me as well. Also on v3.2.2

[2021-04-30 20:46] leits commented on #181
Sorry, @nevadascout, @defrex. 3.2.2 was only a quick release to fix MeetingBar crashing.
But I'm already preparing a new major release!

[2021-05-01 08:34] leits commented on #181
Prepared a prerelease build. @jamtur01, @nevadascout, @defrex, could you, please, check that everything works now?
https://github.com/leits/MeetingBar/releases/tag/v3.3.0

[2021-05-01 16:40] jamtur01 commented on #181
Am running it now - will report results.

[2021-05-02 19:10] jgoldhammer commented on #208
It seems that zoom has deprecated client url schemes now.

![image](https://user-images.githubusercontent.com/3872101/116824450-a1018500-ab8a-11eb-978a-2dc6165cd355.png)
https://marketplace.zoom.us/docs/client-url-schemes

I am thinking about removing direct support as it seems that the app does not report back that it could not start the application successfully. WDYT @leits ?

[2021-05-02 19:27] jgoldhammer commented on #208
Hi @glenjamin ,

can you provide me an example url of the my-urls? I can test locally if replacing `/my/` with` /join?confno=` will work as replacing ` /j/`. If this will work, I can enhance the logic. If not, we have to think about removing the feature completely when it does not work reliable...

Thanks
Jens

[2021-05-02 19:32] jgoldhammer commented on #194
The link detection was part of another merge request which was merged. @leits removed this functionality for valid reasons (https://github.com/leits/MeetingBar/commit/efb157e5bb43ea0825e9d11ec9a0ac361f1bffe6#commitcomment-50292455). Maybe we can open this discussion again here to think about a useful integration. WDYT @srstanic about how this can be properly integrated?

[2021-05-03 20:16] jamtur01 commented on #181
Looks good so far. Seems to have resolved the issue for me.

[2021-05-03 20:22] leits commented on #181
Awesome, thanks!

I have started a phased release in AppStore and will publish an update in homebrew on Wednesday/Thursday. So, it should be available for all by the end of the week if there are no problems.

[2021-05-04 17:32] lilyball opened #261 "Feature: "Join next event meeting" should say "Join current …" during a meeting"
**Is your feature request related to a problem? Please describe.**
When I open the menu, "Join next event meeting" is sitting there, tempting me to select it, but if I'm in the middle of a meeting, it's not clear if it's going to join my current one, or join the one right after.

**Describe the solution you'd like**
During a meeting, the menu title should say "Join current event meeting" instead t

[2021-05-04 17:38] lilyball commented on #248
A solution this could be to assign the "Join next event meeting" menu item a keyboard shortcut. That way I can open the menu and then press the shortcut.

The problem with the direct shortcut is it means reserving yet another global shortcut.

We could even go a step further and assign ⌘1/2/3/…/0 to the next 10 meetings, so I can select any of them without leaving the keyboard.

[2021-05-04 18:02] lilyball commented on #259
I agree that this really needs some documentation. For example, I originally would have expected the app to do normal URL detection on the meeting fields, and then to match regexes against those URLs. But from skimming the source it appears that it runs the regex on the whole field, and therefore the regex has to recognize the full URL in the context of the overall note. There's also no documentat

[2021-05-04 18:07] lilyball commented on #259
Another issue I'm seeing with current regexes is a link like `https://gotzoom.com/join` will be parsed as a webex link. This is probably not a big deal but is still weird.

[2021-05-04 21:14] lilyball commented on #55
#84 is not enough. I want the status item to always show my next event, even if there's no meeting link (as I find MeetingBar a much better way of being aware of upcoming events than Calendar). However, I still want to filter out specific events.

In particular, when I have personal events during work time, I need to put an event on my work calendar to mark myself as busy. I typically title these

[2021-05-05 10:20] nevadascout commented on #164
@jgoldhammer Hey, I'd really like to get this in if we can :D

Which email should I send the zoom link to?

[2021-05-05 10:21] jgoldhammer commented on #164
Please use Jens.goldhammeratgooglemaildotcom

nevada_scout ***@***.***> schrieb am Mi. 5. Mai 2021 um 12:20:

[2021-05-05 17:05] roger-o3h opened #262 "Bug: Open Meeting from Clipboard ignores browser preferences"
**App version**
3.3.0

**Describe the bug**
When opening a meeting link from the clipboard, it opens in my system default browser instead of the one I have configured in MeetingBar.

**To Reproduce**
If your default browser is A:
Set your "All meetings links in" browser to B; set your "Open Meet meetings in" browser to B.
Copy a Meet invite to the clipboard.
Click "Open Meeting from Clipboard".
Me

[2021-05-06 15:34] r2a1 commented on #232
Hi, I've been having this problem. Here's the template:

https://<custom-domain>.zoom.us/w/<webinar-id>

Here's an actual link that has expired:

https://us04web.zoom.us/w/93122439654?tk=Dod7vSSUVfFaSd3ushA4v7QSjeDktMOmClh2bTMYALo.DQIAAAAVroep5hZxLS1CMTNJMlJFV045N2pWNGNDLXlnAAAAAAAAAAAAAAAAAAAAAAAAAAAA&pwd=RHBtRXZCWmNENDRZdEdKdjA3WDhlQT09&uuid=WN_cJ_6hP8qSoKhKIjwsj05_Q

[2021-05-07 02:00] hughlilly opened #264 "Raw value in drop-down on Appearance tab of Preferences"
Hi,

I believe I've discovered a bug that displays a raw value instead of a label in a drop-down on the Appearance tab of Preferences on v. 3.3.0:
<img width="1008" alt="Screen Shot 2021-05-07 at 1 49 31 PM" src="https://user-images.githubusercontent.com/12046008/117387201-7a519e80-af3c-11eb-8dfb-617b8ed0adc3.png">

~~I'm not a Swift developer so I'm not sure, but [line 165 of AppearanceTab.swift]

[2021-05-07 09:01] #264 closed

[2021-05-07 09:01] leits commented on #264
Thanks, fixed!

[2021-05-07 16:32] srstanic commented on #194
Going back to `openEvent(_:EKEvent)` I would suggest that the implementation of it does something like the following:
[code]

[2021-05-07 17:04] cdcharlebois commented on #259
@lilyball thanks for your comment! Using the values in there as an example, I was able to work my way down to a regex that works for my company's custom Zoom domain & personal meeting invites (PMIs):
`https?:\/\/COMPANY.zoom.us\/my\/[0-9a-zA-Z?=.]*`

[2021-05-07 19:10] lilyball opened #266 "Feature: Dismiss "event starting soon" notification after event ends"
**Is your feature request related to a problem? Please describe.**
I just woke up my computer to find a "Meeting about to start" notification for an event that ended half an hour ago.

**Describe the solution you'd like**
I would like MeetingBar to dismiss these notifications after the event ends. This should probably be a preference.

[2021-05-07 19:33] lilyball opened #267 "Feature: Dismiss notification on all computers when I dismiss it on one"
**Is your feature request related to a problem? Please describe.**
I have multiple computers that run MeetingBar. When I handle a notification on one of them, it would be nice if the other stopped displaying it.

**Describe the solution you'd like**
MeetingBar instances on different machines should communicate with each other somehow. They could register Bonjour services in order to find each othe

[2021-05-07 19:48] lilyball commented on #266
Actually I filed this as a feature, but really, it should probably be a bug.

[2021-05-07 19:52] lilyball commented on #266
I don't know if there's any way to schedule an automatic dismissal, I don't see anything obvious when looking at the `UNNotificationRequest` API, but it would be nice if there is a way (what happens if you schedule a notification with the same identifier but leave all properties blank?)

[2021-05-07 19:56] lilyball opened #268 "Bug: Notification body doesn't tell me if the meeting has started"
**App version**
3.3.0

**Describe the bug**
When I get a notification for an event, the body just says "The event starts soon". It doesn't tell me when it actually starts, and once the event has started, this body is misleading. In my case I have MeetingBar set to notify me 1 minute in advance, but looking at the source it appears that it uses this same phrase no matter how I've configured it.

ht

[2021-05-07 20:03] lilyball commented on #268
Of course, having written all that up, it occurs to me now that the notification does show its age in the upper-right corner, so we could actually just make this super simple and change the body to "Today at 1:00 PM" or something like that. Having said that, given that MeetingBar is focused on "the event is starting now" as opposed to just generic alarms like Calendar has, I'm still a fan of "The

[2021-05-11 11:29] jaklan opened #269 "Bug: App crashes when you click menu with Apple Script"
**App version**
3.3.0

**Describe the bug**
I tried to automate clicking `Join next event meeting` and `Create meeting` items of MeetingBar menu with Apple Script to create Raycast (alternative to Alfred) scripts performing these actions. Unfortunately, instead of performing menu bar item click, MeetingBar just quits.

**To Reproduce**
Steps to reproduce the behavior:
1. Open Script Editor
2. Past

[2021-05-11 15:04] iliakukharev commented on #205
Would be great to have the menu option like this

![image](https://user-images.githubusercontent.com/13415594/117838777-48fe0900-b283-11eb-8e00-78134b57094a.png)

[2021-05-11 20:03] leits commented on #235
Hi, @petems.
Thanks for your request. I think about this a lot.

I don't think other users really need them.
The app should be simple and clear in the settings for everyone, not just for fans of fine-tuning.
Opening the menu by left-clicking is common to all macOS status bar apps and this additional setting is redundant.

Sorry.

[2021-05-11 20:03] #235 closed

[2021-05-12 08:42] durdevic opened #271 "Feature: Showing simultaneously active events"
**Is your feature request related to a problem? Please describe.**
If two events are at the same time, I can only see that only one is active in the status bar

**Describe the solution you'd like**
Show "[number of active events] now"

[2021-05-12 14:46] jonorossi commented on #228
I had the same problem as I too hadn't used Calendar.app before MeetingBar.

I didn't restart macOS, but just closed MeetingBar's window because the refresh button wouldn't pick up the new calendars I synced from Google Calendar into Calendar.app. Tried killing the process and restarting, but couldn't get MeetingBar to re-display the set up wizard or anything.

I've ended up here and found where t

[2021-05-12 17:15] jedberg opened #272 "Feature: Let me choose calendar priorities to properly order overlapping events"
**Is your feature request related to a problem? Please describe.**
When I have events from multiple calendars, I can't figure out how it chooses which one to display.  For example, I monitor my work calendar, personal calendar, and my daughter's online school calendar.  Right now it is showing me what my daughter has next, even though I have a work meeting at the same time.

**Describe the solutio

[2021-05-13 11:58] jaklan opened #273 "Bug: the counter is rounded down, not rounded up"
**App version**
3.4.0

**Describe the bug**
When some minute starts, e.g. 13:52, the counter would show that the meeting scheduled for 14:00 starts in 7 min, not 8 min. It's somehow correct, because it's actually 7 min XX sec, but rounding down is less intuitive than rounding up and in result the banner changes to `some_meeting now (XX m left)` one minute before the actual start of the meeting.

*

[2021-05-14 12:28] jasiek opened #274 "Feature: Automatically join meetings that are starting"
**Is your feature request related to a problem? Please describe.**
I miss notifications when my editor is in full screen.

**Describe the solution you'd like**
* An option to auto-join next meeting.
* A popup (in the center of the screen), to ask whether I'd like to join a meeting which is just starting.

**Describe alternatives you've considered**
I'm not sure how to accomplish the desired effect

[2021-05-27 07:03] stenalpjolly opened #278 "Feature: Option to show only upcoming event."
There are many instance where I face multiple meetings get overlapped each other.

I would to see and option to see next meeting "start in" instead of the time left in that meeting.

[2021-05-27 10:45] lukestein commented on #278
Seconding this suggestion. I'm always interested in when the next meeting starts, not when this one ends.

[2021-06-01 11:24] stenalpjolly commented on #278
Tagging @leits for better visibility

[2021-06-05 17:43] kriskhaira opened #279 "Bug: Can't click on any field in Preferences > All Shorcuts"
**App version**

3.4.0

**Describe the bug**

Preferences > All Shortcuts window doesn't allow me to click in any of the fields which have the placeholder "Record Shortcut".

**To Reproduce**

Steps to reproduce the behavior:
1. Go to 'Preferences'
2. Click on 'All Shortcuts'
3. Try to click on any Record Shortcut field
4. Nothing happens.

**Expected behavior**

You should be allowed to record a

[2021-06-06 12:08] jgoldhammer commented on #279
Hi @kriskhaira ,

thanks for your bug report.

Can you please send us the default values of Meetingbar?
Please run following command on the terminal and upload the file to use

`
defaults read leits.meetingbar > meetingbar_default_values.txt
`

After that please try to delete the default values for meetingbar- by executing this command you have to reconfigure meetingbar from scratch...

`
defaults

[2021-06-12 11:37] adjurk opened #280 "Feature: Option to hide Status bar icon when there are no scheduled meetings"
**Is your feature request related to a problem? Please describe.**
I feel like my status bar gets cluttered and the icon displaying no upcoming meetings is useless to me. I'd only want to show the upcoming meeting when there is one.

**Describe the solution you'd like**
There should be a checkbox option to hide the MeetingBar status bar icon if there are no meetings for the next `x` minutes.

**De

[2021-06-14 13:53] mlcampbe commented on #280
I would love to see this feature.

[2021-06-16 08:10] jverhoeks opened #281 "Feature: Send meetings via MQTT"
**Is your feature request related to a problem? Please describe.**
I use home-assistant to automate my home and notify my family members. Having a notification when i'm in a meeting prevents accidental walk-ins.

**Describe the solution you'd like**
Have a configurable MQTT target to publish messages when a meeting starts (name, time, duration) and one when the meeting stops.  Preferable with MQTT

[2021-06-20 04:44] shivanimall opened #282 "Feature: convert mails into meeting invites"
curious if you (currently/will) support converting mails into meeting invites?

For example: I am signed up for mail lists that have regular meetings relevant to me.
Those mails contain meeting_name/date/time/zoom invite link, but currently either I'd have to set up a manual meeting invite or reminder for these.

[2021-06-22 10:29] sauttefk opened #283 "Bug: App crashes when clicking on calendar tab"
**App version**
3.4.0

**Describe the bug**
App crashes when `Calendar` tab is chosen.

**To reproduce**
Steps to reproduce the behavior:
1. Go to `Preferences`
2. Click on `Calendars`
3. App crashes (with "Illegal instruction: 4" when run from a shell)

**Expected behavior**
Not to crash...

**Desktop (please complete the following information):**
 - macOS version: Catalina 10.15.7
 - System lang

[2021-06-22 17:56] voska opened #284 "Bug: MeetingBar time is not in sync with macOS"
**App version**
3.4.0

**Describe the bug**
The time service in use by MeetingBar doesn't seem to be in sync with my Mac clock. Meetings will show that they have started before my Mac time shows that the meeting should start.

**To Reproduce**
Steps to reproduce the behavior:
1. Set a 1hr meeting at 12:00
2. Watch the "starts in x min" around 11:57
3. At 11:59, it will say "59m left"

**Expected b

[2021-07-01 11:52] guyguy333 opened #291 "Feature: Jitsi Meet app support"
**Is your feature request related to a problem? Please describe.**

I'm frustrated when Firefox is opening to start a Jitsi Meet whereas I've desktop app.

**Describe the solution you'd like**

I would like MeetingBar to open Jitsi meetings in Jitsi Meet app when available : https://github.com/jitsi/jitsi-meet-electron. It would be a feature similar to Zoom or Teams.

**Describe alternatives you'v

[2021-07-02 15:25] leits commented on #282
Thanks for the request.
Sorry, the application works with the calendar and there are no plans to integrate it with the email inbox.

[2021-07-02 15:25] #282 closed

[2021-07-06 18:53] mmccoy37 opened #297 "Feature: Allow hiding of meetings marked as "tenative""
**Is your feature request related to a problem? Please describe.**
Many teams send recurring meetings for things like office hours. I don't want this to show up as "upcoming" but I also dont want to remove it from my calendar. So I mark my attendance as tenative. I would like support for tenative meetings to be hidden on MeetingBar.

**Describe the solution you'd like**
 I would like support for t

[2021-07-10 22:32] #279 closed

[2021-07-11 12:25] #262 closed

[2021-07-11 12:25] leits commented on #262
Thanks, @roger-o3h!
Added fix to the next release!

[2021-07-11 12:28] leits commented on #284
Thanks for the report, @voska.
Did you see this bug after the report?
I didn't manage to reproduce it.

[2021-07-11 12:37] #232 closed

[2021-07-11 13:23] leits commented on #283
Thanks for the report, @sauttefk!
AFAIK, the `Illegal instruction: 4`  message is telling that app binaries contain instructions the version of the OS  does not understand.
I'll try to figure out what's wrong.

But if you have the ability to upgrade OS, it should help.

[2021-07-11 13:36] leits commented on #164
Hi, @jgoldhammer, @nevadascout!
Did you have a chance to find out what the problem was?

[2021-07-11 13:37] #228 closed

[2021-07-11 13:38] leits commented on #248
Valid remark, @jgoldhammer. And thanks for the idea, @lilyball.

I think it's too complicated for such a minor feature.

[2021-07-11 13:38] #248 closed

[2021-07-11 13:40] leits commented on #227
Thanks for the report, @ccarterlandis. Yes, I saw it too.
It's a bug in swift UI, and it looks like it has already been fixed with updates.

[2021-07-11 13:40] #227 closed

[2021-07-11 13:42] leits commented on #206
It's done!

[2021-07-11 13:42] #206 closed

[2021-07-11 13:56] leits commented on #266
Thanks for the request, @lilyball!
It's a good point!

[2021-07-11 13:57] #266 closed

[2021-07-11 13:59] leits commented on #236
I think, It was fixed in 3.2.2 which happened after this report, but it looks like I just forgot to close it.
@jakeswenson, @desmondfuller,  please, check the latest version!

[2021-07-11 13:59] #236 closed

[2021-07-11 14:00] #230 closed

[2021-07-11 14:02] #259 closed

[2021-07-11 15:22] jgoldhammer commented on #266
Hi @leits ,

would that change close all notifications? I guess if you have several events in the same timeframe it would hide all of these notifications, right?

[2021-07-11 15:24] leits commented on #266
@jgoldhammer
Yes, all notifications. But only when there is no current or next event.

[2021-07-12 14:52] edavidaja commented on #284
I also have the same issue, here's a screenshot of the countdown, which is consistently off by about a minute. Also running macos 11.4

![image](https://user-images.githubusercontent.com/12927842/125308571-039b9d80-e2ff-11eb-8e00-86a3799272c4.png)

[2021-07-13 08:40] nevadascout commented on #164
@leits I spoke with Jens, but I'm not sure if he was able to reproduce this or not. @jgoldhammer can you tell us any more? :)

[2021-07-14 08:24] qetzal opened #301 "Bug: Zoom links are not recognized in some events after 3.5.0 release"
**App version**
3.5.0

**Describe the bug**
Zoom links are not recognized in some events after 3.5.0 release. It looks like the problem is related to HTML in the event descriptions.

**To Reproduce**
1. Create a new event in Google Calendar. Add link to a Zoom call in the event description: https://www.dropbox.com/s/1ypbvwg8xg9cuut/Screen%20Shot%202021-07-14%20at%2009.55.07.png?dl=0
2. Google Cale

[2021-07-15 07:16] leits commented on #301
Thanks for the report, @qetzal!

[2021-07-15 07:28] leits commented on #274
Thanks for the request, @jasiek.

Please, follow the #30, it's already in the backlog.

[2021-07-15 07:28] #274 closed

[2021-07-15 18:50] #301 closed

[2021-07-16 15:53] leits commented on #281
Thanks for the request, @jverhoeks!

MeetingBar doesn't send data anywhere on the outside itself, it's by design.

But soon there will be an Advanced feature with a trigger at the beginning and end of the meeting of the custom AppleScript.
You can follow it here: #148. I think it's the best place to make your integration.

[2021-07-16 15:53] #281 closed

[2021-07-16 23:27] leits commented on #269
Thanks for the report, @jaklan!

[2021-07-17 10:48] #269 closed

[2021-07-17 17:38] jaklan commented on #269
@leits Cool, thanks! Waiting for the release then, so I would add Raycast scripts just after that (they are already done) ;)

[2021-07-23 07:36] marcschumacher opened #304 "Feature: Open arbitrary application or shell script when joining a meeting"
I usually have a Chrome open all the time for calendar and all kinds of "applications". Now I would like to have meetings separate, e.g. in order to be able to browse through documentation during meetings. Currently MeetingBar opens in a new tab when I join a meeting.

I would like to have more control on what is happening when I start a meeting (using MeetingBar). Ideal for me would be to be able

[2021-07-27 13:15] koenvb opened #305 "Feature: Get multiple notifications 5 min / 1 min and when meeting starts"
**Is your feature request related to a problem? Please describe.**
As a user I want to get multiple events so I do not forget the meeting

**Describe the solution you'd like**
Make it possible to set multiple events

[2021-08-04 20:17] jgoldhammer commented on #304
Hi @marcschumacher ,

thanks for the feature request. Unfortunately due to the apple sandbox we cannot run application with arguments. I have tried that some months ago while implementing the browser stuff.

I guess combining #166 with the script running on joining a meeting would be fine, so that we handover arguments to the running script. What do you think?

[2021-08-08 18:13] voska commented on #284
It's still happening all the time for me. Here's a screenshot I took recently
<img width="464" alt="Screen Shot 2021-08-04 at 16 13 21" src="https://user-images.githubusercontent.com/3444419/128641578-f2923eff-6f6d-4a3a-bdc5-0d4b42cc0ecc.png">

[2021-08-11 21:13] leits commented on #283
@sauttefk, does the app continue to crash after the update?

[2021-08-11 21:16] leits commented on #249
Unfortunately, I have to close this feature.
The status of the event cannot be changed programmatically.

[2021-08-11 21:18] leits commented on #224
I couldn't reproduce it, so I'm closing this issue because there's no answer.

[2021-08-11 21:18] #224 closed

[2021-08-14 08:35] leits commented on #273
Hi, @jaklan.

Added fix to the upcoming release!
https://github.com/leits/MeetingBar/commit/8a99e8aa074af27c47c745a8d9c3499257c6a268

[2021-08-14 08:35] #273 closed

[2021-08-14 08:39] leits commented on #268
Thanks, @lilyball for the report/request!

Added changes with time delta in notifications to the next release
https://github.com/leits/MeetingBar/commit/0c158f789e869b972651f76024e119e9d6a6be52

[2021-08-14 08:39] #268 closed

[2021-08-14 08:40] leits commented on #240
Merged to #239.

[2021-08-14 08:40] #240 closed

[2021-08-14 08:41] leits commented on #239
Added as event action:
https://github.com/leits/MeetingBar/commit/857053b0d02d6574a317dabee9e053a7a8345486

[2021-08-14 08:41] #239 closed

[2021-08-14 08:47] leits commented on #267
Thanks for the request! This is an interesting idea.

But:
- MeetingBar is not currently requesting access to iCloud.
- The app cares about the security of the user, does not store his data, and works only on his device. It's in the privacy policy.
- Technical implementation looks like a lot of work.

Sorry, these arguments are strong enough to reject this proposal.

[2021-08-14 08:47] #267 closed

[2021-08-14 08:54] leits commented on #194
Hi, @srstanic!

A few months ago, a new display of event notes appeared in the application. So you can now open the link explicitly, instead of implicit parsing through the App.
https://github.com/leits/MeetingBar/pull/263

We don't want to create unpredictable behavior for users, so we don't plan to add opening unrecognized meeting service links.

Also consider the functionality with custom regex

[2021-08-14 08:54] #194 closed

[2021-08-14 08:59] leits commented on #280
Hi, @adjurk, @mlcampbe.
Thanks for the request!

I'm sorry, but I'll reject this suggestion.
The status bar is the only interface to the application, so if you hide it, the user will not be able to use it.
There is also a bad scenario, when the user has enabled this option and selected the wrong calendar, then the app will disappear forever.

You can use Bartender, which has the ability to show th

[2021-08-14 08:59] #280 closed

[2021-08-14 09:01] #283 closed

[2021-08-14 09:04] leits commented on #164
@jgoldhammer, please share some info ^

I also made changes to the regex, it could help. So I close this issue until there is no new information.

[2021-08-14 09:04] #164 closed

[2021-08-14 09:10] leits commented on #208
@ubhaller, maybe you can help here ^?

[2021-08-14 09:50] ubhaller commented on #208
@leits unfortunately i don't have a personal `/my` link and am hesitant to share one not belonging to me. judging by the conversation in https://github.com/leits/MeetingBar/issues/164 didn't @nevadascout share one with you?

as far as i can tell `/my` links redirect you to a regular `/j` link. so i suppose all you'd need to do is add a custom handling for `/my` links that fires a request and reads

[2021-08-14 10:31] jgoldhammer commented on #278
Can you please provide more context and example scenarios to see the potential usecase. Currently meetingbar shows  the next event after some time- if we would skip displaying that the current event ends in x minutes, you could not join the current event with one click when you are a little bit late. This could be confusing for users…

[2021-08-14 10:32] jgoldhammer commented on #272
What do you think @leits ? I think this is an interesting idea…

[2021-08-14 10:33] jgoldhammer commented on #261
Thanks. Nice idea. @leits - wdyt?

[2021-08-14 12:17] leits commented on #261
Yes, I think it makes sence.

[2021-08-14 12:33] leits commented on #208
Thanks, @ubhaller!
I would not like to add an external request to the app. We have a focus on privacy.

So I see only two options now:
- Your #258 fix to open all /my links in the browser
- Try to replace `/my/` with `/join?confno=` (like for `/j`) as @jgoldhammer proposes and look if it will work

So the first one it's just a workaround to make it work at least with the browser and the second one

[2021-08-14 12:33] leits commented on #208
And I think we start with the first option then try to use the second one.

[2021-08-14 13:32] #261 closed

[2021-08-14 23:58] jaklan commented on #273
@leits great to hear! I just wonder about this line:
https://github.com/leits/MeetingBar/blob/8a99e8aa074af27c47c745a8d9c3499257c6a268/MeetingBar/StatusBarItemControler.swift#L988
and specifically `(event.endDate)! > prevMinute` - let's say the event ends at 15:00:00 and the current time is 15:00:48 - as I understand, the current implementation would should the meeting as still active (15:00:00 >

[2021-08-15 12:55] srstanic commented on #194
Alright, thanks for letting me know @leits !

[2021-08-15 20:57] yarsanich commented on #246
@jgoldhammer extending event's would be nice addition to it I agree.

[2021-08-16 09:03] jakob-stoeck commented on #272
What about "prefer accepted calendar events over pending events"?

Right now, with overlapping events even in the same calendar, this preference is apparently not the case. Which leads me to regularly tune in to the company-wide Yoga class (pending status) instead of my meeting (accepted status) when using the "Join next meeting" shortcut :)

[2021-08-16 12:55] leits commented on #273
Yes, you're right. Thanks!

[2021-08-16 15:53] daubman opened #313 "Add support for opening Google Meet meetings in new Progressive Web App (PWA)"
Google has released and is promoting its [newer Google Meet progressive web app](https://workspaceupdates.googleblog.com/2021/07/use-new-google-meet-web-app-for-better.html). One feature that has been challenging for me with MeetingBar is that it opens the meeting in whatever last-active browser window you were using, which may or may not be the right google account window, let alone the window I

[2021-08-17 08:38] Sergio-Mira opened #314 "Bug: Dimmed text color in Dark theme does not match rest of bar"
**App version**
Current version (3.6.0)

**Describe the bug**
When the screen is not active all the bar icons and text are dimmed. However, the dimmed color of text in Meeting Bar is less readable and does not match the rest.

**To Reproduce**
Steps to reproduce the behavior:
1. Setup 2 screens
2. Set Dark theme in MacOS
3. Click in one of the monitors
EXPECTED: Dimmed text color in the other moni

[2021-08-19 13:11] Sergio-Mira commented on #314
Color seems to be #232545 but I couldn't find it anywhere in the source.

[2021-08-20 02:34] starcraft66 opened #317 "Feature: Add option for showing "No more meetings" text instead of checkmark icon"
**Is your feature request related to a problem? Please describe.**
MeetingBar usually displays long strings of text all day as meetings come and go, but at the end of the day it suddenly transforms into a small icon. I'd love to see an option to show text indicating there are no meetings at the end of the day instead of an icon. It would look more consistent to me.

**Describe the solution you'd l

[2021-08-20 11:59] leits commented on #313
Hi, @daubman!
Thanks for your request!

MeetingBar opens something in other apps using a URL scheme.
For browsers, it's https:// and some native macOS app supports they own scheme (like zoomtg:// for Zoom app).

But Google Meet PWA doesn't support https:// (otherwise your links would open) and doesn't have its own scheme.

So, for now there is no way to add such support on MeetingBar side. Sorry!

[2021-08-20 11:59] #313 closed

[2021-08-20 20:32] jgoldhammer commented on #297
Hi @mmccoy37 -
this is already possible.
![image](https://user-images.githubusercontent.com/3872101/130290340-f3922fd9-25ff-4594-bb28-0e73a6ea03bd.png)

"Showing as inactive" does not show pending events  in the statusbar, but still in the menu...
Please reopen the ticket if this does not help.

Thx
Jens

[2021-08-20 20:32] #297 closed

[2021-08-21 15:28] ngan commented on #272
I tend to have overlapping events on the same calendar (events that I haven't accepted). It would be nice to show me a quick prompt I can choose from if there's ambiguity.

[2021-08-21 21:37] jgoldhammer commented on #291
I have implemented it now and will push it soon.

<img width="1516" alt="image" src="https://user-images.githubusercontent.com/3872101/130335347-6d2ed7e7-112b-4d07-8f45-abc91eeefb89.png">

The correct link is: jitsi-meet://meet.jit.si/meeting-bar instead of jitsi-meet://https://meet.jit.si/meeting-bar

[2021-08-21 23:15] guyguy333 commented on #291
Great 👍 Thanks !!

[2021-08-22 19:41] jgoldhammer commented on #314
Thanks Sergio. I can confirm this problem. I will investigate the root cause of this color UX issue.

[2021-08-23 01:17] jaklan commented on #284
@voska it should be solved with the newest release, the issue was related to the time being rounded down instead of up.

[2021-08-23 01:50] jaklan commented on #273
@leits I have noticed that in the newest release menu bar updates are delayed for around 3 sec against clock. Tbh I have no idea if that was the case before as well, but now, when the counter is fixed, it's just easily visible 😉

I'm not sure if these lines are the crucial part here:
https://github.com/leits/MeetingBar/blob/a874bcd6aa1b299a87033b43d50b9ce0613e81fb/MeetingBar/AppDelegate.swift#L432

[2021-08-23 08:00] mattogodoy commented on #305
I came here looking for the same. The Apple Calendar app gives you an option to "snooze" the meeting.
Here's a screenshot:
![telegram-cloud-photo-size-4-5846047598140568769-x](https://user-images.githubusercontent.com/1627178/130411602-076b77a6-40c7-4766-8268-c4a93fdcb371.jpg)

I find it very useful, especially the "snooze until" options. In this screenshot you can only see the last one because th

[2021-08-23 10:45] jaklan commented on #273
@leits Today I've noticed that delay can be longer - it actually depends on what time MeetingBar app was launched. And that makes sense looking how updater works (no fix starting time), but imho that's also a sign that it should be fixed 😉

[2021-08-23 13:10] jaklan commented on #269
@leits @jgoldhammer and here we go - Raycast commands for MeetingBar:
https://github.com/raycast/script-commands/tree/master/commands#meetingbar

Maybe would it be worth to mention in README.md?